.header {
  // background: #fff;
  display: block;
}
textarea {
  min-height: 100px;
}

.header-main {
  // background: #fff;
  min-height: 102px;
  .logo {
    width: 500px;
    height: 70px;
    text-align: left;
    float: left;
    padding-top: 15px;
    margin: 5px 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .panel {
    float: right;
    text-align: right;
    padding: 30px 0 0 0;
    line-height: 20px;
    .btn-register {
      background: #CF3D23;
      border: 1px solid #CF3D23;
      color: #fff;
    }
    .labelProfile {
      padding: 10px;
      position: relative;
      cursor: pointer;
      min-width: 200px;
      text-align: left;
      background: #eee;
      display: inline-block;
      span {
        margin: 0 2px;
        i {
          float: right;
        }
      }
      &:hover {
        & .listControlProfile {
          opacity: 1;
          z-index: 9999;
        }
      }
      .name {
        vertical-align: middle;
        // margin-left: 10px;
      }
      .listControlProfile {
        position: absolute;
        min-width: 150px;
        max-width: 100%;
        width: 100%;
        background: #fff;
        top: 40px;
        z-index: -1;
        border: 1px solid #d9d9d9;
        left: 0;
        box-shadow: 0 3px 8px rgba(3, 3, 3, 0.26);
        opacity: 0;
        li {
          i {
            margin-right: 10px;
          }
          &.xu {
            a {
              background: #eee;
              color: #666;
            }
          }
          a {
            padding: 10px 15px;
            display: block;
            text-align: left;
            &:hover {
              background: #eee;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
