<div class="header">
  <div class="container">
    <div class="header-main">
      <div class="logo">
        <a href="/"><img src="assets/logo.png" /></a>
      </div>
      <div class="panel" [hidden]="userData">
        <a class="btn btn-warning btn-fill" data-toggle="modal" data-target="#login"> Đăng nhập </a>
        <a class="btn btn-danger btn-fill" data-toggle="modal" data-target="#register"> Đăng ký </a>
      </div>

      <div class="panel" *ngIf="userData">
        <a class="btn btn-danger btn-fill" [routerLink]="['AddCredit']"><i class="fa fa-credit-card"></i> Nạp xu </a>
        <div class="labelProfile">
          <span class="name"><span class="label label-danger">{{userData.type}}</span> {{userData.username}} <span *ngIf="inboxUnread.length" id="alert">( {{inboxUnread.length}} thư mới )</span> <i class="fa fa-chevron-down"></i></span>
          <ul class="list-unstyled listControlProfile" *ngIf="userData.type !== 'admin'">
            <li class="xu"><a>Hiện có <strong>{{userData.credit}}</strong> xu</a></li>
            <li class="xu" *ngIf="userData.type === 'CPM'">
              <a>
                <p>CPM sẽ hết hạn vào:</p><strong>{{userData.expType | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</strong></a>
            </li>
            <li>
              <a [routerLink]="['Profile']"><i class="fa fa-user"></i> Thông tin cá nhân </a>
            </li>
            <li>
              <a [routerLink]="['Mailbox']"><i class="fa fa-envelope"></i> Hộp thư
                <span *ngIf="inboxUnread.length">( {{inboxUnread.length}} chưa đọc )</span></a>
            </li>
            <li>
              <a [routerLink]="['Order']"><i class="fa fa-cube"></i> Đơn hàng </a>
            </li>
            <li *ngIf="userData.type === 'member'">
              <a (click)="upgradeCPM()"><i class="fa fa-arrow-circle-up"></i> Nâng cấp CPM </a>
            </li>

            <li *ngIf="userData.type === 'CPM' || userData.type === 'CTV'">
              <a [routerLink]="['UserCPM']"><i class="fa fa-users"></i> Hội viên </a>
            </li>
            <li *ngIf="userData.type === 'CPM'">
              <a (click)="extendCPM()"><i class="fa fa-plus"></i> Gia hạn CPM </a>
            </li>

            <li>
              <a [routerLink]="['History']"><i class="fa fa-history"></i> Lịch sử hoạt động </a>
            </li>
            <li>
              <a (click)="doLogout()"><i class="fa fa-sign-out"></i> Đăng xuất </a>
            </li>
          </ul>
          <ul class="list-unstyled listControlProfile" *ngIf="userData.type === 'admin'">
            <li>
              <a href="/admin"><i class="fa fa-user"></i> Quản trị Admin </a>
            </li>
            <li>
              <a [routerLink]="['Order']"><i class="fa fa-cube"></i> Đơn hàng </a>
            </li>
            <li>
              <a [routerLink]="['Mailbox']"><i class="fa fa-envelope"></i> Hộp thư
                <br><span class="text-muted" *ngIf="inboxUnread.length">( {{inboxUnread.length}} chưa đọc )</span></a>
            </li>
            <li>
              <a (click)="doLogout()"><i class="fa fa-sign-out"></i> Đăng xuất </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="bd-example">
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">Đăng nhập</h4>

        </div>
        <div class="modal-body">
          <div [hidden]="! messageLogin" [ngClass]="{'alert-success': !isLoginError , 'alert-danger': isLoginError}" class="alert">
            {{ messageLogin }}
          </div>
          <form [ngFormModel]="loginForm" (submit)="doLogin()" [hidden]="loginSuccessMessage">
            <div class="form-group">
              <label for="username">Tên tài khoản</label>
              <input type="text" ngControl="username" #username="ngForm" class="form-control" placeholder="Nhập tên tài khoản của bạn">
            </div>
            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <input type="password" ngControl="password" #password="ngForm" class="form-control" placeholder="Nhập mật khẩu của bạn">
            </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-fill btn-block">Đăng nhập</button>
            <a class="btn btn-warning btn-fill btn-block" data-toggle="modal" data-target="#resetPassword">Lấy lại mật khẩu</a>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div class="bd-example">
  <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Lấy lại mật khẩu</h4>

        </div>
        <div class="modal-body">
          <form>
          <div class="form-group">
            <label for="username">Địa chỉ Email</label>
            <input type="text" #emailR class="form-control" placeholder="Nhập Email bạn đã đăng ký">
          </div>
          <p *ngIf="!isRequestedPassword"><a (click)="_haveCode()">Đã có mã xác nhận?</a></p>
          <p *ngIf="isRequestedPassword"><a (click)="_haveCode()">Yêu cầu mã xác nhận</a></p>
          <div *ngIf="isRequestedPassword">
            <div class="form-group">
              <label for="username">Code</label>
              <input type="text" #codeR class="form-control" placeholder="Nhập Code trong Email">
            </div>
            <div class="form-group">
              <label for="username">Mật khẩu mới</label>
              <input type="password" #passwordR class="form-control" placeholder="Nhập mật khẩu mới">
            </div>
            <a class="btn btn-primary btn-fill btn-block" [ngClass]="{'disabled': submitting}" (click)="_doSubmitResetPassword(emailR.value, codeR.value, passwordR.value)">Gửi</a>
          </div>

          <a *ngIf="!isRequestedPassword" class="btn btn-primary btn-fill btn-block" [ngClass]="{'disabled': submitting}" (click)="_doSubmitRequestResetPassword(emailR.value)">Gửi</a>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div class="bd-example">
  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">Đăng ký</h4>
        </div>
        <div class="modal-body">
          <div [hidden]="!messageReg" [ngClass]="{'alert-success': !isRegError, 'alert-danger': isRegError}" class="alert">
            {{ messageReg }}
          </div>
          <form [ngFormModel]="registerForm" (submit)="doRegister()" [hidden]="regSuccessMessage">
            <div class="form-group">
              <label for="name">Tên đầy đủ</label>
              <input type="text" class="form-control" ngControl="name" #name="ngForm">
            </div>
            <div class="form-group">
              <label for="username">Tên tài khoản</label>
              <input type="text" class="form-control" ngControl="username" #username="ngForm">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" ngControl="email" #email="ngForm">
            </div>
            <div class="form-group">
              <label for="phone">Số điện thoại</label>
              <input type="text" class="form-control" ngControl="phone" #phone="ngForm">
            </div>
            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <input type="password" class="form-control" ngControl="password" #password="ngForm">
            </div>
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-fill btn-block">Đăng ký</button>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="bd-example">
    <div class="modal fade" id="upgradeCPM" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="exampleModalLabel">Bổ sung thông tin Chủ phòng máy</h4>
          </div>
          <div class="modal-body">
            <div [hidden]="!messageReg" [ngClass]="{'alert-success': !isRegError, 'alert-danger': isRegError}" class="alert">
              {{ messageReg }}
            </div>
            <form [ngFormModel]="upgradeCPMForm" (submit)="doUpgradeCPM()" [hidden]="regSuccessMessage">
              <div class="form-group">
                <label for="businessName">Tên phòng máy</label>
                <input type="text" class="form-control" ngControl="businessName" #businessName="ngForm" required>

              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <select class="form-control col-md-6" ngControl="city" #city="ngForm" (change)="_chooseCity(city.value)" required>
                      <option value="" selected>Chọn Tỉnh/ Thành phố</option>
                      <option [value]="city.cID" *ngFor="#city of cities">{{city.name}}</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <select class="form-control col-md-6" ngControl="district" #district="ngForm" required>
                      <option value="" selected>Chọn Quận/ Huyện</option>
                      <option [value]="district.dID" *ngFor="#district of districts">{{district.name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" class="form-control" ngControl="address" #address="ngForm" placeholder="Số địa chỉ, Đường ( Tiếng Việt có dấu )" required>
              </div>

              <div class="form-group">
                <label for="bank">Tài khoản ngân hàng</label>
                <textarea rows="6" class="form-control" ngControl="bank" #bank="ngForm" required></textarea>
              </div>

              <div class="form-group">
                <label for="gpkd">Số Giấy phép kinh doanh</label>
                <input type="text" class="form-control" ngControl="gpkd" #gpkd="ngForm" required>
              </div>

              <!--<div class="form-group">
              <label for="message-text" class="form-control-label">Nhập lại mật khẩu</label>
              <input type="password" class="form-control" id="recipient-name">
            </div>-->
              <button type="submit" [disabled]="!upgradeCPMForm.valid" class="btn btn-primary btn-fill btn-block">Đồng ý</button>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="bd-example">
      <div class="modal fade" id="loadingPopup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h4> Hệ thống đang cập nhật. xin vui lòng đợi trông giây lát ! </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
