<nav-header></nav-header>
<div class="mailbox">
  <div class="container">
    <!-- <div *ngIf="!histories" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div> -->
    <div class="bg-white m-t-1 m-b-1">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#writeMail" role="tab"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Soạn thư</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#inbox" role="tab"><i class="fa fa-inbox" aria-hidden="true"></i> Đã nhận ({{inbox.length}})</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#outbox" role="tab"><i class="fa fa-upload" aria-hidden="true"></i> Đã gửi  ({{outbox.length}})</a>
            </li>
          </ul>
        </div>

        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane" id="writeMail" role="tabpanel">
              <form [ngFormModel]="mailBoxForm" (submit)="doSubmit()">
                <div class="form-group row">
                  <label class="col-md-2">Tiêu đề</label>
                  <input type="text" ngControl="title" #title="ngForm" class="form-control col-md-10" placeholder="Nhập tiêu đề thư" [(ngModel)]="mail.title">
                </div>
                <div class="form-group row">
                  <label class="col-md-2">Người nhận</label>
                  <input type="text" ngControl="receiver" #receiver="ngForm" class="form-control col-md-10" placeholder="Nhập tên người nhận ( username )" (change)="_change($event)" [(ngModel)]="selectedUser.username">
                </div>
                <div class="listSearchUser row" *ngIf="Users.length">
                  <div class="col-md-12">
                    <ul class="list-unstyled">
                      <li *ngFor="#user of Users" (click)="_selectedUser(user)" [ngClass]="{'active': selectedUser.username === user.username}">{{user.username}} - {{user.name}} - {{ user.province }} - {{user.city}}</li>
                    </ul>
                  </div>

                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="haveCredit"> Gửi giao dịch XU
                  </label>
                </div>
                <div class="form-group row" *ngIf="haveCredit">
                  <input type="number" class="form-control col-md-10" placeholder="Nhập Số lượng Xu" [(ngModel)]="credit">
                </div>
                <div class="form-group row">
                  <textarea class="form-control col-md-12" ngControl="description" #description="ngForm" cols="30" rows="5" [(ngModel)]="mail.description">Nội dung</textarea>
                </div>
                <button class="btn btn-primary btn-block" type="submit" [disabled]="!mailBoxForm.valid || submitting">Gửi</button>
              </form>
            </div>
            <div class="tab-pane active" id="inbox" role="tabpanel">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th width="200px">Từ</th>
                    <th>Tiêu đề</th>
                    <th width="200px">Ngày</th>
                    <th width="120px">Tùy chọn</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="#in of inbox; #i = index" [ngClass]="{'active': !in.receiver.action.read}">
                    <td>{{i + 1}}</td>
                    <td>
                      {{in.sender.id.username}}
                      <span *ngIf="in.sender.credit"> (GD Xu) </span>
                    </td>
                    <td>
                      {{in.title}}
                    </td>
                    <td>{{in.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</td>
                    <td><a class="btn-primary btn btn-fill btn-xs" (click)="_view(in._id)">Xem</a> <a class="btn-danger btn btn-fill btn-xs" (click)="_delete(in._id)">Xóa</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="outbox" role="tabpanel">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Đến</th>
                    <th>Tiêu đề</th>
                    <th width="200px">Ngày</th>
                    <th width="120px">Tùy chọn</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="#in of outbox; #i = index">
                    <td>{{i + 1}}</td>
                    <td>
                      {{in.receiver.id.username}}
                    </td>
                    <td>
                      {{in.title}}
                    </td>
                    <td>{{in.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</td>
                    <td><a class="btn-primary btn btn-fill btn-xs" (click)="_view(in._id)">Xem</a> <a class="btn-danger btn btn-fill btn-xs" (click)="_delete(in._id)">Xóa</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->

<div class="bd-example">
  <div class="modal fade" id="mailboxReview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="!selectedMail.title">
        <p class="text-xs-center">Đang tải nội dung</p>
      </div>
      <div class="modal-content" *ngIf="selectedMail.title">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{selectedMail.title}}</h4>
        </div>
        <div class="modal-body">
          <div>
            <ul class="list-group">
              <li class="list-group-item">Người gửi: {{selectedMail.sender.id.username}}</li>
              <li class="list-group-item">Người nhận: {{selectedMail.receiver.id.username}}</li>
              <li class="list-group-item">Ngày gửi: {{selectedMail.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</li>
              <li *ngIf="selectedMail.sender.credit" class="list-group-item">Giao dịch: <strong>{{selectedMail.sender.credit}} xu</strong></li>
            </ul>
            <div class="jumbotron m-t-1 m-b-1">
              <p [innerHtml]="selectedMail.description"></p>
            </div>
            <a *ngIf="selectedMail.sender.credit && selectedMail.receiver.id._id === userData._id" class="btn btn-primary btn-block btn-fill" (click)="_receiveCredit()" [ngClass]="{'disabled': selectedMail.receiver.action.confirmCredit}">
               Nhận xu <span *ngIf="selectedMail.receiver.action.confirmCredit"> ( Đã Nhận thành công )</span>
             </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
