.mailbox {
  .bg-white {
    padding: 20px;
  }
  .listSearchUser {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    ul {
      max-height: 150px;
      overflow-y: auto;
      margin-bottom: 10px;
      margin-top: 10px;
      li {
        border-bottom: 1px solid #ddd;
        padding: 10px;
        cursor: pointer;
        &.active {
          background: #ddd;
        }
      }
    }
  }
  tr {
    &.active {
      td {
        background: #FFD3B8;
      }
    }
  }
}
