<div class="challenge">
  <div class="bg-tournament-home">
    <div class="container"><h3 class="dsgd">Mini game</h3></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4"><a class="btn btn-primary btn-fill btn-block" [routerLink]="['ChallengeCreateRoom']">Tạo phòng</a></div>
        <div class="col-md-4"><a class="btn btn-success btn-fill btn-block" [routerLink]="['ChallengeFind']">Tìm phòng</a></div>
        <!-- <div class="col-md-4"><a class="btn btn-primary btn-fill btn-block">Tạo phòng</a></div> -->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="header-panel">Đang diễn ra</p>
          <div class="challenge-panel">
            <div class="challenge-content">
              <!-- List Team -->
              <div class="list" *ngFor="#predict of predictsNow">
                <h5>{{predict.name}}</h5>
                <div class="hInfo">
                  <div class="l">{{predict.players.teamA.length}}</div>
                  <div class="c">{{predict.credit}}</div>
                  <div class="r">{{predict.players.teamB.length}}</div>
                </div>
                <div class="team">
                  <div class="blue" (click)="join(predict, 'teamA')">{{predict.teams.teamA}}</div>
                  <div class="red" (click)="join(predict, 'teamB')">{{predict.teams.teamB}}</div>
                </div>
              </div>
              <!-- /List Team -->

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <p class="header-panel">Đang chờ kết quả</p>
          <div class="challenge-panel">
            <div class="challenge-content">
              <!-- List Team -->
              <div class="list-history"  *ngFor="#predict of predictsTimeout">
                <h5>{{predict.name}}</h5>
                <div class="hInfo">
                  <div class="l">{{predict.players.teamA.length}}</div>
                  <div class="c">{{predict.credit}}</div>
                  <div class="r">{{predict.players.teamB.length}}</div>
                </div>
                <div class="team">
                  <div class="blue isWin">{{predict.teams.teamA}}</div>
                  <div class="red isWin">{{predict.teams.teamB}}</div>
                </div>
              </div>
              <!-- /List Team -->
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <p class="header-panel">Kết quả</p>
          <div class="challenge-panel">
            <div class="challenge-content">
              <!-- List Team -->
              <div class="list-history" *ngFor="#predict of predictsHistory">
                <h5>{{predict.name}}</h5>
                <div class="hInfo">
                  <div class="l">{{predict.players.teamA.length}}</div>
                  <div class="c">{{predict.credit}}</div>
                  <div class="r">{{predict.players.teamB.length}}</div>
                </div>
                <div class="team">
                  <div class="blue" [ngClass]="{'isWin': predict.isWin === predict.teams.teamA}">{{predict.teams.teamA}}</div>
                  <div class="red" [ngClass]="{'isWin': predict.isWin === predict.teams.teamB}">{{predict.teams.teamB}}</div>
                </div>
              </div>
              <!-- /List Team -->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
