.challenge {
  height: 70vh;
  .row {
    margin: 20px 0;
  }
  .bg-tournament-home {
    background: url('assets/img/game/tournament.jpg');
    // background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 85vh;
    background-size: cover;
    h3 {
      &.dsgd {
        margin: 0;
        padding: 20px;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
  .header-panel {
    color: #fff;
    padding: 10px;
    text-align: center;
    background: #373a3c;
    font-size: 20px;
    margin-bottom: 0;
  }
  .challenge-panel {
    background: #000;
    height: 55vh;
    overflow: auto;
    .challenge-content {
      // height: 10000px;
      h5 {
        color: #fff;
      }
      .hInfo {
        display: inline-flex;
        .l,
        .c,
        .r {
          padding: 10px;
          color: #ddd;
          font-size: 20px;
        }
        .c {
          font-size: 25px;
          color: #fff;
        }
      }
      .list-history {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #949494;
        padding-bottom: 25px;
        .team {
          display: inline-flex;
          width: 100%;
          .red,
          .blue {
            padding: 10px;
            color: #fff;
            width: 50%;
          }
          .red {
            background: #232323;
            &.isWin {
              background: #ff3b30;
            }
          }
          .blue {
            background: #232323;
            &.isWin {
              background: #1d62f0;
            }
          }
        }
      }
      .list {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #949494;
        padding-bottom: 25px;
        &:hover {
          background: #4A4A4A;
        }
        .team {
          display: inline-flex;
          width: 100%;
          .red,
          .blue {
            padding: 10px;
            color: #fff;
            width: 50%;
          }
          .red {
            background: #ff3b30;
            cursor: pointer;
          }
          .blue {
            background: #1d62f0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
