.bg-tournament-home {
  background: url('assets/img/game/tournament.jpg');
  // background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 85vh;
  background-size: cover;
  h3 {
    &.dsgd {
      margin: 0;
      padding: 20px;
      text-align: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.8);
    }
  }
}
.list-tournament {
  padding: 15px;
  margin: 30px 0;
  cursor: pointer;
}
.time {
  margin: 10px 0;
  // span {
  //   margin-right: 50px;
  // }
}
.canReg {
  background: #ddd;
}
.btn-reg {
  a {
    margin: 0 auto;
  }
}
h3 {
  &.t-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
  }
}
.bg-list {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}
