<div class="bg-tournament-home">
  <div class="container"><h3 class="dsgd">Danh sách giải đấu</h3></div>
  <div class="container">
    <div *ngIf="!tournaments" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div>

    <div class="row">
      <div class="col-md-12" *ngFor="#tour of tournaments" (click)="doDetail(tour._id)">
        <div class="bg-list list-tournament">
          <div class="row">
            <div class="col-md-12">
              <h3 class="t-title">{{tour.name}}</h3>
            </div>
          </div>
          <div class="time row">
            <div class="col-md-6">Phí XU đăng ký: <strong>{{tour.credit}}</strong></div>
            <div class="col-md-6">Miễn phí đăng ký lần đầu:
              <strong *ngIf="tour.freeFirstTime === true">Có</strong>
              <strong *ngIf="tour.freeFirstTime === false">Không</strong>
            </div>
          </div>
          <div class="time row">
            <div class="col-md-6">Bắt đầu đăng ký: <strong>{{tour.startReg | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</strong></div>
            <div class="col-md-6">Kết thúc đăng ký: <strong>{{tour.endReg | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</strong></div>
          </div>

          <div class="time row btn-reg">
            <a class="btn text-primary text-center"> Xem chi tiết </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
