<div class="container" style="min-height: 400px;margin-top: 30px;margin-bottom: 30px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3"><a class="btn btn-primary btn-fill btn-block btn-md" [routerLink]="['NewsCreate']">Tạo tin tức</a></div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="list-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên bài viết</th>
              <th>Người đăng</th>
              <th>Ngày đăng</th>
              <th>Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#n of News; #i = index" >
              <td>{{i + 1}}</td>
              <td>{{n.name}}</td>
              <td>{{n.ownerId.name}}</td>
              <td>{{n.ctime}}</td>
              <td>
                <a class="btn btn-primary btn-sm" [routerLink]="['NewsEdit', {id: n._id}]" >Sửa</a>
                <a class="btn btn-danger btn-sm" (click)="doDelete(n._id)">Xóa</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
