.challengeFind {
  height: 70vh;
  .row {
    margin: 20px 0;
  }
  .bg-tournament-home {
    background: url('assets/img/game/tournament.jpg');
    // background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 85vh;
    background-size: cover;
    h3 {
      &.dsgd {
        margin: 0;
        padding: 20px;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
  .panel {
    padding: 20px;
    text-align: left;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    height: 60vh;
    overflow: auto;
    .list {
      background: rgba(68, 68, 68, 0.77);
      padding: 10px;
      cursor: pointer;
      &:hover {
        background: rgba(68, 68, 68, 0.9);
      }
      .title {
        font-weight: 600;
        font-size: 20px;
        display: inline;
      }
      .name {
        display: inline;
        right: 0;
        /* text-align: right; */
        position: absolute;
      }
    }
  }
}
