<div class="challengeFind">
  <div class="bg-tournament-home">
    <div class="container"><h3 class="dsgd">Mini game</h3></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4"><a class="btn btn-primary btn-fill btn-block" [routerLink]="['ChallengeCreateRoom']">Tạo phòng</a></div>
        <div class="col-md-4"><a class="btn btn-success btn-fill btn-block" [routerLink]="['ChallengeFind']">Tìm phòng</a></div>
      </div>
    </div>

    <div class="container">
      <div class="panel">
        <div *ngIf="!challenges" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div>
        <div class="row list" *ngFor="#challenge of challenges; #i = index" (click)="join(challenge._id)">
          <div class="col-md-12">
            <p class="title">#{{i + 1 }} {{challenge.name}}</p>
            <p class="name"><i class="fa fa-lock" aria-hidden="true"></i> Chủ phòng: {{challenge.teamA.userId.username}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
