<nav-header></nav-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">
        Vui lòng đăng nhập trước khi thực hiện hành động này !
      </div>
    </div>
  </div>
</div>
