<div class="container" style="min-height: 400px;margin-top: 30px;margin-bottom: 30px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3"><a class="btn btn-primary btn-fill btn-block btn-md" [routerLink]="['PredictCreate']">Tạo giải đấu</a></div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="list-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên giải đấu</th>
              <th>Đội thi đấu</th>
              <th>Chi phí</th>
              <th>Thời gian</th>
              <th>Kết quả</th>
              <th>Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#tour of Predicts; #i = index" >
              <td>{{i + 1}}</td>
              <td>{{tour.name}}</td>
              <td>
                <p class="text-primary">{{tour.teams.teamA}} ({{tour.players.teamA.length}})</p>
                <p class="text-danger">{{tour.teams.teamB}} ({{tour.players.teamB.length}})</p>
              </td>
              <td>{{tour.credit}} xu</td>
              <td>
                {{tour.startRun | amDateFormat:'DD-MM-YYYY (HH:mm)'}}
              </td>
              <td *ngIf="tour.isWin">{{tour.isWin}}</td>
              <td *ngIf="!tour.isWin">
                <a class="btn btn-primary btn-sm" (click)="setWin(tour, 'teamA')" >Đội A</a>
                <a class="btn btn-danger btn-sm" (click)="setWin(tour, 'teamB')"  >Đội B</a>
              </td>
              <td>
                <!-- <a class="btn btn-warning btn-sm" (click)="doExport(tour._id)" >Xuất</a> -->
                <a *ngIf="!tour.isWin" class="btn btn-primary btn-sm" [routerLink]="['PredictEdit', {id: tour._id}]" >Sửa</a>
                <a class="btn btn-danger btn-sm" (click)="doDelete(tour._id)">Xóa</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
