<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="list-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Mã đơn hàng</th>
              <th>Người đặt</th>
              <th>Tổng giá</th>
              <th>Tình trạng</th>
              <th>Ngày đặt</th>
              <th>Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#o of Orders; #i = index">
              <td>{{i + 1}}</td>
              <td>{{o.orderId}}</td>
              <td>{{o.customerId.username}}</td>
              <td>{{o.total.toLocaleString()}} VND</td>
              <td><span class="status" [ngClass]="{
                      'text-primary': o.status === 'NEW',
                      'text-success': o.status === 'DELIVERED',
                      'text-danger': o.status === 'CANCELLED'
                    }">{{o.status}}</span>
              </td>
              <td>{{o.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</td>
              <td>
                <a class="btn btn-primary btn-sm" (click)="_selectedOrder(o)">Xem</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->

<div class="bd-example">
  <div class="modal fade" id="orderReview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="!selectedOrder.orderId">
        <p class="text-xs-center">Đang tải nội dung</p>
      </div>
      <div class="modal-content" *ngIf="selectedOrder.orderId">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Đơn hàng #{{selectedOrder.orderId}}</h4>
        </div>
        <div class="modal-body">
          <div>
            <ul class="list-group m-b-1">
              <li class="list-group-item">
                Người đặt: {{selectedOrder.customerId.username}}
              </li>
              <li class="list-group-item">
                Tình trạng: <strong>{{selectedOrder.status}}</strong>
              </li>
            </ul>
            <div class="jumbotron m-b-1 history" *ngIf="selectedOrder.history">
              <ul class="list-unstyled">
                <li *ngFor="#h of selectedOrder.history">
                  <p>{{h.status}} - {{h.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</p>
                  <p>{{h.note}}</p>
                </li>
              </ul>
            </div>

            <ul class="list-group m-b-1">
              <li class="list-group-item" *ngFor="#p of selectedOrder.products; #i = index">
                <span class="label label-default label-pill pull-xs-right">{{p.total}} xu</span>
                {{i+1}} {{p.pid.name}}: <strong>{{p.pid.credit}} x {{p.quantity}}</strong>
              </li>
              <li class="list-group-item list-group-item-success">
                <span class="label label-default label-pill pull-xs-right">{{total}} xu</span>
                Tổng cộng
            </ul>
            <div class="form-group" *ngIf="selectedOrder.history[selectedOrder.history.length - 1]">
              <label>Ghi chú</label>
              <textarea class="form-control" readonly rows="4">{{selectedOrder.history[selectedOrder.history.length - 1].note}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
