<div class="container">
  <div class="tournamentForm">
    <form [ngFormModel]="tournamentForm" (submit)="doSubmit()">
      <div class="form-group row">
        <label class="col-md-2">Tên giải đấu</label>
        <input type="text" ngControl="name" #name="ngForm" class="form-control col-md-5" placeholder="Nhập tên giải đấu">
        <label class="col-md-1">Game</label>
        <input type="text" ngControl="game" #game="ngForm" class="form-control col-md-4" placeholder="LMHT = lol, Fifa = fifa, game khác = khac">
      </div>
      <div class="form-group row">
        <label class="col-md-2">Phí xu</label>
        <input type="text" ngControl="credit" #credit="ngForm" class="form-control col-md-5" placeholder="1000 VND = 1 xu">
        <div class="checkbox col-md-5">
          <label>
            <input type="checkbox" #freeFirstTime> Miễn phí đăng ký lần đầu</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2">Đăng ký giải đấu</label>
        <input type="datetime-local" ngControl="startReg" #startReg="ngForm" class="form-control col-md-5" placeholder="Bắt đầu đăng ký">
        <input type="datetime-local" ngControl="endReg" #endReg="ngForm" class="form-control col-md-5" placeholder="Kết thúc đăng ký">
      </div>
      <div class="form-group row">
        <label class="col-md-2">Thời gian giải đấu</label>
        <input type="datetime-local" ngControl="startRun" #startRun="ngForm" class="form-control col-md-5" placeholder="Bắt đầu đấu giải">
        <input type="datetime-local" ngControl="endRun" #endRun="ngForm" class="form-control col-md-5" placeholder="Kết thúc đấu giải">
      </div>
      <div class="form-group row">
        <label class="col-md-2">Thời gian khác</label>
        <input type="datetime-local" ngControl="remindTime" #remindTime="ngForm" class="form-control col-md-5" placeholder="Thời gian nhắc nhở">
        <input type="datetime-local" ngControl="randomTime" #randomTime="ngForm" class="form-control col-md-5" placeholder="Thời gian xếp đội">
      </div>

      <div class="form-group row">
        <textarea name="editor1" id="editor1" class="form-control col-md-12" ngControl="description" #description="ngForm" rows="3" [(ngModel)]="tournamentForm.value.description"></textarea>
      </div>

      <div class="form-group">
        <label class="file">
          <input type="file" [value]="selectedFile" id="file" (change)="selectFile($event)">
          <span class="file-custom"></span>
        </label>
        <p *ngIf="file">{{file.name}}</p>
        <img *ngIf="imageReview" [src]="imageReview" width="100%"/>
      </div>
      <button type="submit" class="btn btn-primary btn-fill btn-block">Đồng ý</button>
    </form>

  </div>
</div>


<div id="dtBox"></div>
