<div class="container">
  <div class="tournamentForm">
    <form [ngFormModel]="tournamentEditForm" (submit)="doSubmit()">
      <div class="form-group row">
        <label class="col-md-2">Tên giải đấu</label>
        <input type="text" ngControl="name" #name="ngForm" class="form-control col-md-10" [(ngModel)]="tournamentSelected.name" placeholder="Nhập tên giải đấu">
      </div>
      <div class="form-group row">
        <label class="col-md-2">Phí xu</label>
        <input type="text" ngControl="credit" #credit="ngForm" class="form-control col-md-5" [(ngModel)]="tournamentSelected.credit" placeholder="1000 VND = 1 xu">
        <div class="checkbox col-md-5">
          <label>
            <input type="checkbox" #freeFirstTime ngControl="freeFirstTime" [checked]="tournamentSelected.freeFirstTime" (change)="tournamentSelected.freeFirstTime = freeFirstTime.checked" > Miễn phí đăng ký lần đầu</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2">Thời gian đăng ký</label>
        <input type="datetime-local" ngControl="startReg" [(ngModel)]="tournamentSelected.startReg" class="form-control col-md-5" placeholder="Bắt đầu đăng ký">
        <input type="datetime-local" ngControl="endReg" #endReg="ngForm" class="form-control col-md-5" [(ngModel)]="tournamentSelected.endReg" placeholder="Kết thúc đăng ký">
      </div>
      <div class="form-group row">
        <label class="col-md-2">Bắt đầu đấu giải</label>
        <input type="datetime-local" ngControl="startRun" #startRun="ngForm" class="form-control col-md-5" [(ngModel)]="tournamentSelected.startRun" placeholder="Bắt đầu đấu giải">
        <input type="datetime-local" ngControl="endRun" #endRun="ngForm" class="form-control col-md-5" [(ngModel)]="tournamentSelected.endRun" placeholder="Kết thúc đấu giải">
      </div>
      <div class="form-group row">
        <label class="col-md-2">Thời gian khác</label>
        <input type="datetime-local" ngControl="remindTime" #remindTime="ngForm" class="form-control col-md-5" [(ngModel)]="tournamentSelected.remindTime" placeholder="Thời gian nhắc nhở">
        <input type="datetime-local" ngControl="randomTime" #randomTime="ngForm" class="form-control col-md-5" [(ngModel)]="tournamentSelected.randomTime" placeholder="Thời gian xếp đội">
      </div>

      <div class="form-group row">
        <!-- <textarea id="textarea" class="form-control col-md-12" ngControl="description" #description="ngForm" rows="3">{{tournamentSelected.description}}</textarea> -->
        <!--<ckeditor [(ngModel)]="ckeditorContent" [config]="{uiColor: '#99000'}"></ckeditor>-->
        <textarea name="editor1" id="editor1"  class="form-control col-md-12" ngControl="description" #description="ngForm" rows="3" [(ngModel)]="tournamentSelected.description">{{tournamentSelected.description}}</textarea>
      </div>

      <div class="form-group">
        <img *ngIf="tournamentSelected.image" [src]="tournamentSelected.image" width="100%"/>
      </div>
      <button type="submit" class="btn btn-primary btn-fill btn-block">Đồng ý</button>
    </form>
  </div>
</div>
