<nav-header></nav-header>
<div class="vltk">
  <div class="container"><h3 class="titleSection">Tham gia Game: JX Tình Duyên</h3></div>
  <div class="container">
    <div *ngIf="isChecking" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div>
    <div class="row" *ngIf="!isChecking">
      <div class="col-md-12">
        <div class="bg-black vltkPanel">
          <div class="" *ngIf="!JX">
            <p class="alert alert-danger">
              Bạn hiện chưa có tài khoản của Game JX Tình Duyên. Nhập thông tin bên dưới để tạo tài khoản
            </p>
            <p>Tên tài khoản: <strong>{{userData.username}}</strong></p>
            <input type="password" class="form-control m-b-1" placeholder="Mật khẩu Ingame" #password>
            <a class="btn-primary btn btn-block btn-fill" (click)="joinJx(password.value)"> Tạo tài khoản ngay</a>
          </div>

          <div class="" *ngIf="JX">
            <p>Tên tài khoản: <strong>{{JX.username}}</strong></p>
            <p>Kim nguyên bảo: <strong>{{JX.knb}}</strong></p>

            <input type="number" class="form-control m-b-1" placeholder="Số KNB muốn đổi" #knb>
            <a class="btn-primary btn btn-block btn-fill" (click)="tradeKnbJx(knb.value)"> Đổi Kim nguyên bảo </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
