<div>
  <div class="challengeDetail" *ngIf="isAuthenticated">
    <div class="isWin text-xs-center" *ngIf="challenge.isWin || challenge.isWin === null">
      <div class="container">
        <h3 *ngIf="challenge.isWin === null">Đã hết giờ thi đấu , vui lòng gửi thông tin + hình ảnh về vivuplay.vn@gmail.com để được xử lý</h3>
        <h3 *ngIf="challenge.isWin">{{ challenge.isWin }}</h3>
        <a class="btn btn-fill btn-primary" [routerLink]="['ChallengeFind']"> Tạo trận đấu khác </a>
      </div>
    </div>
    <div class="container">
      <h3 class="dsgd">
        Tên phòng: {{challenge.name}} - [ {{challenge.credit}} xu ]
        <div class="m-t-1">
          {{countTimer.min}}:{{countTimer.sec}}
        </div>
      </h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="panel teamA m-t-1">
            <div class="locked" *ngIf="challenge.teamA && challenge.teamA.locked">
              <p *ngIf="challenge.teamA.locked"> Đã khóa </p>
              <p *ngIf="challenge.teamA.started"> Đã bắt đầu </p>
              <p *ngIf="challenge.teamA.isWin === true"> Đã thắng </p>
              <p *ngIf="challenge.teamA.isWin === false"> Đã thua </p>
            </div>
            <h5>Đội A</h5>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Số điện thoại" [(ngModel)]="challenge.teamA.phone">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #1" [(ngModel)]="challenge.teamA.teams[0].name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #2" [(ngModel)]="challenge.teamA.teams[1].name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #3" [(ngModel)]="challenge.teamA.teams[2].name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #4" [(ngModel)]="challenge.teamA.teams[3].name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #5" [(ngModel)]="challenge.teamA.teams[4].name">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel teamB m-t-1">
            <div class="locked" *ngIf="challenge.teamB && challenge.teamB.locked">
              <p *ngIf="challenge.teamB.locked"> Đã khóa </p>
              <p *ngIf="challenge.teamB.started"> Đã bắt đầu </p>
              <p *ngIf="challenge.teamB.isWin === true"> Đã thắng </p>
              <p *ngIf="challenge.teamB.isWin === false"> Đã thua </p>
            </div>
            <h5>Đội B</h5>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Số điện thoại" [(ngModel)]="challenge.teamB.phone">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #1" [(ngModel)]="challenge.teamB.teams[0].name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #2" [(ngModel)]="challenge.teamB.teams[1].name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #3" [(ngModel)]="challenge.teamB.teams[2].name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #4" [(ngModel)]="challenge.teamB.teams[3].name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-md-12" placeholder="Tên Ingame #5" [(ngModel)]="challenge.teamB.teams[4].name">
            </div>
          </div>
        </div>
      </div>
      <div class="row m-t-1">
        <div class="col-md-4">
          <a class="btn btn-primary btn-block btn-fill" (click)="lock()" [ngClass]="{'disabled': challenge[isTeam] && challenge[isTeam].locked}" > Khóa </a>
        </div>
        <div class="col-md-4">
          <a class="btn btn-danger btn-block btn-fill" (click)="cancel()" [ngClass]="{'disabled': challenge.isWin}"> Hủy </a>
        </div>
        <div class="col-md-4">
          <a class="btn btn-success btn-block btn-fill" (click)="start()" [ngClass]="{'disabled': challenge[isTeam] && challenge[isTeam].started}"> Bắt đầu </a>
        </div>
      </div>
      <div class="row m-t-1">
        <div class="col-md-6">
          <a class="btn btn-primary btn-block btn-fill" (click)="doWin()" [ngClass]="{'disabled': challenge.isWin}"> Thắng </a>
        </div>
        <!-- <div class="col-md-4">
          <a class="btn btn-danger btn-block btn-fill" (click)="reset()" [ngClass]="{'disabled': challenge.isWin}"> Chọn lại </a>
        </div> -->
        <div class="col-md-6">
          <a class="btn btn-success btn-block btn-fill" (click)="doLose()" [ngClass]="{'disabled': challenge.isWin}" > Thua </a>
        </div>
      </div>
    </div>
  </div>
</div>
