.challengeDetail {
  .isWin {
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    z-index: 999;
    /* margin: -10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
  }
  h3 {
    &.dsgd {
      margin: 0;
      padding: 20px;
      text-align: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.8);
    }
  }
  .panel {
    padding: 10px;
    color: #fff;
    position: relative;
    .locked {
      width: 100%;
      background: rgba(0, 0, 0, 0.78);
      height: 100%;
      z-index: 99;
      /* margin: -10px; */
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      p {
        font-size: 30px;
      }
    }
    &.teamA {
      background: rgba(29,98,240,0.7);
    }
    &.teamB {
      background: rgba(255, 14, 0, 0.7);
    }
  }
}
