<nav-header></nav-header>
<div class="ctv">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="list-table bg-white">
          <table class="table table-hover">
            <thead *ngIf="Users.length">
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Ngày hết hạn</th>
                <th>Tùy chọn</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="6">
                  <input type="text" class="form-control" placeholder="Username hoặc Email hoặc Phone" #search (change)="onChange(search.value)" (keydown.enter)="searchUser(search.value)">
                </td>
              </tr>
              <tr>
                <td colspan="6" *ngIf="!Users.length">
                  Không có dữ liệu
                </td>
              </tr>
              <tr *ngFor="#user of Users; #i = index" data-toggle="modal" data-target="#editUser">
                <td>{{i + 1}}</td>
                <td>
                  <span class="label" [ngClass]="{
                        'label-danger': user.type.name === 'admin',
                        'label-primary': user.type.name === 'member',
                        'label-success': user.type.name === 'CPM',
                        'label-info': user.type.name === 'CTV'
                        }">{{user.type.name}}
                  </span> {{user.username}} </td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td *ngIf="user.expType">{{user.expType | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</td>
                <td *ngIf="!user.expType">Vô hạn</td>
                <td>
                  <a *ngIf="user.type.name === 'member'" class="btn btn-warning btn-sm" (click)="doUpgrade(user._id)">Nâng cấp CPM</a>
                  <a *ngIf="user.type.name === 'CPM'" class="btn btn-primary btn-sm" (click)="doExtend(user._id)">Gia hạn</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



</div>


<div class="bd-example">
  <div class="modal fade" id="upgradeCPMbyCTV" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">Bổ sung thông tin Chủ phòng máy</h4>
        </div>
        <div class="modal-body">
          <div [hidden]="!messageReg" [ngClass]="{'alert-success': !isRegError, 'alert-danger': isRegError}" class="alert">
            {{ messageReg }}
          </div>
          <form [ngFormModel]="upgradeCPMbyCTVForm" (submit)="doUpgradeCPM_1()" [hidden]="regSuccessMessage">
            <div class="form-group">
              <label for="businessName">Tên phòng máy</label>
              <input type="text" class="form-control" ngControl="businessName" #businessName="ngForm" required>

            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <select class="form-control col-md-6" ngControl="city" #city="ngForm" (change)="_chooseCity(city.value)" required>
                    <option value="" selected>Chọn Tỉnh/ Thành phố</option>
                    <option [value]="city.cID" *ngFor="#city of cities">{{city.name}}</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <select class="form-control col-md-6" ngControl="district" #district="ngForm" required>
                    <option value="" selected>Chọn Quận/ Huyện</option>
                    <option [value]="district.dID" *ngFor="#district of districts">{{district.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Địa chỉ</label>
              <input type="text" class="form-control" ngControl="address" #address="ngForm" placeholder="Số địa chỉ, Đường ( Tiếng Việt có dấu )" required>
            </div>

            <div class="form-group">
              <label for="bank">Tài khoản ngân hàng</label>
              <textarea rows="6" class="form-control" ngControl="bank" #bank="ngForm" required></textarea>
            </div>

            <div class="form-group">
              <label for="gpkd">Số Giấy phép kinh doanh</label>
              <input type="text" class="form-control" ngControl="gpkd" #gpkd="ngForm" required>
            </div>

            <!--<div class="form-group">
                <label for="message-text" class="form-control-label">Nhập lại mật khẩu</label>
                <input type="password" class="form-control" id="recipient-name">
              </div>-->
            <button type="submit" [disabled]="!upgradeCPMbyCTVForm.valid" class="btn btn-primary btn-fill btn-block">Đồng ý</button>
          </form>

        </div>
      </div>
    </div>
  </div>
