.list-tournament {
  padding: 15px;
  margin: 30px 0;
}
.time {
  margin: 10px 0;
  // span {
  //   margin-right: 50px;
  // }
}
.canReg {
  background: #ddd;
}
.btn-reg {
  a {
    margin: 0 auto;
  }
}
h3 {
  &.t-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
  }
}
.bg-list {
  background: #ddd;
}
