<nav-header></nav-header>
<div class="container">
  <div *ngIf="!profile" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div>
  <div class="row" *ngIf="profile">
    <div class="col-md-12">
      <div class="bg-white content">
        <p>Số xu hiện có: <strong>{{profile.credit}}</strong></p>
        <p *ngIf="profile.expType">CPM sẽ hết hạn vào: <strong>{{profile.expType | amDateFormat:'DD-MM-YYYY (hh:mm)'}}</strong></p>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="profile">
    <div class="col-md-12">
      <div class="bg-white content">
        <form [ngFormModel]="profileForm">
          <div class="form-group">
            <label for="name">Tên đầy đủ</label>
            <input type="text" class="form-control" ngControl="name" #name="ngForm" [value]="profile.name" disabled>
          </div>
          <div class="form-group">
            <label for="username">Tên tài khoản</label>
            <input type="text" class="form-control" ngControl="username" #username="ngForm" [value]="profile.username" disabled>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" ngControl="email" #email="ngForm" [value]="profile.email" disabled>
          </div>
          <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="text" class="form-control" ngControl="phone" #phone="ngForm" [value]="profile.phone" disabled>
          </div>

          <!-- CPM  -->
          <div class="form-group" *ngIf="profile.extraInfo">
            <label for="businessName">Tên phòng máy</label>
            <input type="text" class="form-control" ngControl="businessName" #businessName="ngForm" required [value]="profile.extraInfo.businessName" disabled>
          </div>
          <div class="form-group" *ngIf="profile.extraInfo">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" ngControl="city" #city="ngForm" required [value]="profile.extraInfo.city" disabled>
                <!-- <select class="form-control col-md-6" ngControl="city" #city="ngForm" (change)="_chooseCity(city.value)" required [value]="profile.extraInfo.city" disabled>
                  <option value="" selected>Chọn Tỉnh/ Thành phố</option>
                  <option [value]="city.cID" *ngFor="#city of cities">{{city.name}}</option>
                </select> -->
              </div>

              <div class="col-md-6" *ngIf="profile.extraInfo">
                <input type="text" class="form-control" ngControl="district" #district="ngForm" required [value]="profile.extraInfo.district" disabled>
                <!-- <select class="form-control col-md-6" ngControl="district" #district="ngForm" required [value]="profile.extraInfo.district" disabled>
                  <option value="" selected>Chọn Quận/ Huyện</option>
                  <option [value]="district.dID" *ngFor="#district of districts">{{district.name}}</option>
                </select> -->
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="profile.extraInfo">
            <label>Địa chỉ</label>
            <input type="text" class="form-control" ngControl="address" #address="ngForm" placeholder="Số địa chỉ, Đường ( Tiếng Việt có dấu )" required [value]="profile.extraInfo.address" disabled>
          </div>

          <div class="form-group" *ngIf="profile.extraInfo">
            <label for="bank">Tài khoản ngân hàng</label>
            <textarea rows="6" class="form-control" ngControl="bank" #bank="ngForm" required [value]="profile.extraInfo.bank" disabled></textarea>
          </div>

          <div class="form-group" *ngIf="profile.extraInfo">
            <label for="gpkd">Số Giấy phép kinh doanh</label>
            <input type="text" class="form-control" ngControl="gpkd" #gpkd="ngForm" required [value]="profile.extraInfo.gpkd" disabled>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
