.list-table {
  background: #fff;
  tr {
    cursor: pointer;
  }
  .active {
    background: #ddd;
    color: #888;
  }
}
.nav-tabs {
  background: #fff;
  text-align: center;
  .nav-link {
    border: none;
    border-radius: 0;
    margin: 10px;
  }
}
.history {
  padding: 10px;
  max-height: 100px;
  display: block;
  overflow-y: auto;
  ul {
    li {
      border-bottom: 1px solid #ddd;
      margin-top: 10px;
    }
  }
}
