<div class="container" style="min-height: 400px;margin-top: 30px;margin-bottom: 30px;">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Đơn hàng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#product" role="tab">Sản phẩm</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active m-t-1" id="home" role="tabpanel">
      <div class="list-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Mã đơn hàng</th>
              <th>Người đặt</th>
              <th>Tổng giá</th>
              <th>Tình trạng</th>
              <th>Ngày đặt</th>
              <th>Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#o of Orders; #i = index">
              <td>{{i + 1}}</td>
              <td>{{o.orderId}}</td>
              <td>{{o.customerId.username}}</td>
              <td>{{o.total.toLocaleString()}} xu</td>
              <td><span class="status" [ngClass]="{
                      'text-primary': o.status === 'NEW',
                      'text-success': o.status === 'DELIVERED',
                      'text-danger': o.status === 'CANCELLED'
                    }">{{o.status}}</span>
              </td>
              <td>{{o.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</td>
              <td>
                <a class="btn btn-primary btn-sm" (click)="_selectedOrder(o)">Xem</a>
                <a class="btn btn-danger btn-sm" (click)="doDeleteOrder(o._id)">Xóa</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane m-t-1" id="product" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-md-offset-3"><a class="btn btn-primary btn-fill btn-block btn-md" [routerLink]="['GiftCreate']">Tạo Quà</a></div>
      </div>
      <div class="list-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên Quà</th>
              <th>Giá gốc</th>
              <th>Giá xu</th>
              <th>Loại</th>
              <th>Danh mục</th>
              <th>TT</th>
              <th>Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#gift of Gifts; #i = index">
              <td>{{i + 1}}</td>
              <td>{{gift.name}}</td>
              <td>{{gift.price.toLocaleString()}} VND</td>
              <td>{{gift.credit}} xu</td>
              <td>{{gift.category || ''}}</td>
              <td>{{gift.subCategory || ''}}</td>
              <td><span class="status" [ngClass]="{
                      'text-danger': gift.status === false,
                      'text-success': gift.status === true
                    }"><i class="fa fa-circle"></i></span></td>
              <td>
                <a class="btn btn-primary btn-sm" [routerLink]="['GiftEdit', {id: gift._id}]">Sửa</a>
                <a class="btn btn-danger btn-sm" (click)="doDelete(gift._id)">Xóa</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>


<!-- Modal -->

<div class="bd-example">
  <div class="modal fade" id="orderReview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="!selectedOrder.orderId">
        <p class="text-xs-center">Đang tải nội dung</p>
      </div>
      <div class="modal-content" *ngIf="selectedOrder.orderId">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Đơn hàng #{{selectedOrder.orderId}}</h4>
        </div>
        <div class="modal-body">
          <div>
            <ul class="list-group m-b-1">
              <li class="list-group-item">
                Người đặt: {{selectedOrder.customerId.username}}
              </li>
              <li class="list-group-item">
                Tình trạng:
                <div class="dropdown" style="display: inline-block">
                  <button class="btn btn-primary btn-xs btn-fill" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedOrder.status}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dLabel">
                    <a class="dropdown-item" (click)="_updateOrder('CONFIRMED')">Đã xác nhận</a>
                    <a class="dropdown-item" (click)="_updateOrder('DELIVERED')">Đã gửi</a>
                    <a class="dropdown-item" (click)="_updateOrder('DONE')">Đã hoàn thành</a>
                    <a class="dropdown-item" (click)="_updateOrder('CANCELLED')">Hủy</a>
                  </div>
                </div>
              </li>
            </ul>
            <div class="jumbotron m-b-1 history" *ngIf="selectedOrder.history">
              <ul class="list-unstyled">
                <li *ngFor="#h of selectedOrder.history">
                  <p>{{h.status}} - {{h.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</p>
                  <p>{{h.note}}</p>
                </li>
              </ul>
            </div>

            <ul class="list-group m-b-1">
              <li class="list-group-item" *ngFor="#p of selectedOrder.products; #i = index">
                <span class="label label-default label-pill pull-xs-right">{{p.total}} xu</span>
                {{i+1}} {{p.pid.name}}: <strong>{{p.pid.credit}} x {{p.quantity}}</strong>
              </li>
              <li class="list-group-item list-group-item-success">
                <span class="label label-default label-pill pull-xs-right">{{total}} xu</span>
                Tổng cộng
            </ul>
            <div class="form-group">
              <label>Ghi chú</label>
              <textarea class="form-control" rows="4" [(ngModel)]="noteOrder"></textarea>
            </div>
            <a class="btn btn-primary btn-fill btn-block" (click)="doSubmitUpdateOrder()">Cập nhật</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
