<nav-header></nav-header>
<div class="container">
  <div *ngIf="!users" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div>
  <div class="row">
    <div class="col-md-12">
      <div class="row hv">
        <div class="col-md-6 col-md-offset-3">
          <a data-toggle="modal" data-target="#register" class="btn btn-primary btn-fill btn-block btn-md"><i class="fa fa-user-plus"></i> Tạo Hội viên </a>
        </div>
      </div>
      <div class="bg-white content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Điện thoại</th>
              <th>Email</th>
              <th>Số xu</th>
              <th>Ngày tạo</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#user of users; #i = index">
              <td>{{i + 1}}</td>
              <td>{{user.username}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.email}}</td>
              <td>{{user.credit}}</td>
              <td>
                {{user.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}
                <p class="text-danger" *ngIf="user.willRemoveAt"> Sẽ xóa vào lúc: {{user.willRemoveAt | amDateFormat:'DD-MM-YYYY (HH:mm)'}} </p>
              </td>
              <td><a class="btn btn-danger btn-fill btn-xs" (click)="deleteUserByOwner(user._id)"> Xóa </a></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
