<nav-header></nav-header>
<div *ngIf="!CPGifts.length && !CGGifts.length && !KGifts.length" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div>
<div class="giftList">
  <div class="container m-b-2 giftContent">
    <h3 class="textGift">Đổi quà</h3>
    <div class="listCart pull-right">
      <h4>Hiện có {{addedToCart.length}} sản phẩm: {{total}} xu</h4>
      <ul class="list-unstyled">
        <li>ABC</li>
      </ul>
    </div>
  </div>
  <div class="container" *ngIf="CPGifts.length && CGGifts.length && KGifts.length">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="bg-white panelCard">
              <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" *ngFor="#g of Gifts; #i = index">
                    <a class="nav-link" [ngClass]="{'active': i === 0}" data-toggle="tab" href="#{{g.cat}}" role="tab">{{g.name}}</a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane" [ngClass]="{'active': i === 0}" id="{{g.cat}}" role="tabpanel" *ngFor="#g of Gifts; #i = index">
                    <div class="row">
                      <div class="col-xs-12" *ngFor="#gifts of g.v">
                        <h4>{{gifts._id}}</h4>
                        <div class="row">
                          <div class="col-xs-3 gift m-b-2" *ngFor="#gift of gifts.products">
                            <div class="bg-white box p-t-1 p-b-1 p-l-1 p-r-1" [ngClass]="{'selected': (quantity.value > 0) && (quantity.value * gift.credit < userData.credit) }">
                              <img [src]="URL_IMG + '/' + gift.image" alt="gift.name">
                              <p class="text-xs-center title"><strong>{{gift.name}}</strong></p>
                              <p class="text-xs-center">Giá Xu: <strong>{{gift.credit}}</strong></p>
                              <div class="input-group">
                                <select name="" id="" class="form-control" #quantity (change)="_addToCart(gift, quantity.value)">
                                  <option value="0">Chọn số lượng</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                </select>
                              </div>
                              <p *ngIf="quantity.value > 0" class="m-t-1 m-b-1">Tổng: <strong> {{quantity.value}} * {{gift.credit}} = {{quantity.value * gift.credit}} xu</strong></p>
                              <!-- <div class="input-group m-t-1 m-b-1">
                                <a class="btn-block btn-fill btn-primary btn" (click)="_addToCart(gift, quantity.value)"> Thêm vào giỏ hàng </a>
                              </div> -->
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
            </div>


          </div>

        </div>
        <div class="btn-Order">
          <div class="container">
            <div class="bg-white">
              <a class="btn-block btn-primary btn btn-fill m-b-1 " (click)="doConfirm()"> Đổi quà ngay ({{addedToCart.length}} sản phẩm {{total}} xu)</a>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="col-xs-4">
        <div class="bg-whte">

        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal -->

<div class="bd-example">
  <div class="modal fade" id="confirmOrder" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Xác nhận đơn hàng</h4>

        </div>
        <div class="modal-body">
          <ul class="list-group m-b-1">
            <li class="list-group-item" *ngFor="#p of addedToCart; #i = index">
              <span class="label label-default label-pill pull-xs-right">{{p.total}} xu</span>
              {{i+1}} {{p.name}} <strong>x {{p.quantity}}</strong>
            </li>
            <li class="list-group-item list-group-item-success">
              <span class="label label-default label-pill pull-xs-right">{{total}} xu</span>
              Tổng cộng
          </ul>
          <a class="btn btn-primary btn-fill btn-block" (click)="doSubmit()">Đồng ý</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
