.giftList {
  .panelCard {
    padding: 20px;
    .panel {
      display: inline-block;
      margin: 0 20px;
    }
    .tab-pane {
      margin: 20px 0;
      h4 {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
      }
    }
    .panel-heading {
      padding: 10px 50px;
      /* width: auto; */
      display: inline-block;
      background: #FFFFFF;
      color: #fff;
    }
  }
  .giftContent {
    position: relative;
  }
  h3 {
    &.textGift {
      margin: 0;
      padding: 20px;
      text-align: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.8);
    }
  }
  .listCart {
    h4 {
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      padding: 30px;
    }
    ul {
      display: none;
    }
  }
  .gift {
    width: 100%;
    img {
      width: 100%;
      height: 100px;
    }
    .box {
      height: 340px;
      border: 10px solid #fff;
      &.selected {
        border: 10px solid #FF6100 !important;
      }
      .title {
        height: 60px;
      }
    }
  }
}
.btn-Order {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* right: 20px; */
  z-index: 9;
  display: block;
  margin: 0;
  left: 0;
  .bg-white {
    padding: 10px 10px 0;
    height: 100%;
    box-shadow: 1px 3px 10px #888888;
  }
}
