<div class="container">
  <div class="tournamentForm">
    <form [ngFormModel]="newsForm" (submit)="doSubmit()">
      <div class="form-group row">
        <label class="col-md-2">Tiêu đề bài viết</label>
        <input type="text" ngControl="name" #name="ngForm" class="form-control col-md-10" placeholder="Nhập tên bài viết">
      </div>
      <div class="form-group row">
        <textarea name="editor1" id="editor1" class="form-control col-md-12" ngControl="description" #description="ngForm" rows="3" [(ngModel)]="newsForm.value.description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-fill btn-block">Đồng ý</button>
    </form>
  </div>
</div>


<div id="dtBox"></div>
