.form-control {
  &::-moz-placeholder, &:-moz-placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder {
    color: #DDDDDD;
    opacity: 1;
  }
}

/*     General overwrite     */

a {
  color: #2C93FF;

  &:hover {
    color: #1084FF;
  }

  &:focus {
    color: #1084FF;
    outline: 0;
  }

  &:active {
    outline: 0;
  }
}

button::-moz-focus-inner {
  outline: 0;
}

input {
  &[type="reset"]::-moz-focus-inner, &[type="button"]::-moz-focus-inner, &[type="submit"]::-moz-focus-inner {
    outline: 0;
  }
}

select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}

/*           Font Smoothing      */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*           Typography          */

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 400;
  // margin: 30px 0 15px;
}

h1, .h1 {
  font-size: 52px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 28px;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.6180em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #999999;
  font-weight: 300;
  line-height: 1;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%;
}

h1 .subtitle {
  display: block;
  font-family: 'Grand Hotel',cursive;
  line-height: 40px;
  margin: 15px 0 30px;
}

/*           Animations              */

.form-control, .input-group-addon {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

/*       CT colors          */

.ct-blue {
  color: #3472F7;

  &.checkbox.checked .second-icon, &.radio.checked .second-icon, &.checkbox.checked, &.radio.checked {
    color: #3472F7;
  }
}

.ct-azure {
  color: #2C93FF;

  &.checkbox.checked .second-icon, &.radio.checked .second-icon, &.checkbox.checked, &.radio.checked {
    color: #2C93FF;
  }
}

.ct-green {
  color: #05AE0E;

  &.checkbox.checked .second-icon, &.radio.checked .second-icon, &.checkbox.checked, &.radio.checked {
    color: #05AE0E;
  }
}

.ct-orange {
  color: #FF9500;

  &.checkbox.checked .second-icon, &.radio.checked .second-icon, &.checkbox.checked, &.radio.checked {
    color: #FF9500;
  }
}

.ct-red {
  color: #FF3B30;

  &.checkbox.checked .second-icon, &.radio.checked .second-icon, &.checkbox.checked, &.radio.checked {
    color: #FF3B30;
  }
}

input {
  &.ct-blue + span {
    &.switch-left, + label + span.switch-right {
      background-color: #3472F7;
    }
  }

  &.ct-azure + span {
    &.switch-left, + label + span.switch-right {
      background-color: #2C93FF;
    }
  }

  &.ct-green + span {
    &.switch-left, + label + span.switch-right {
      background-color: #05AE0E;
    }
  }

  &.ct-orange + span {
    &.switch-left, + label + span.switch-right {
      background-color: #FF9500;
    }
  }

  &.ct-red + span {
    &.switch-left, + label + span.switch-right {
      background-color: #FF3B30;
    }
  }
}

.btn {
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  opacity: 0.8;
  padding: 8px 16px;
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  opacity: 0.79;
  padding: 9px 18px;
}

.btn-sm {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
}

.btn-xs {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
  padding: 1px 5px;
}

.btn-lg {
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  padding: 14px 60px;
}

.btn-wd {
  min-width: 140px;
}

.btn-default {
  color: #777777;
  border-color: #999999;
}

.btn-primary {
  color: #3472F7;
  border-color: #3472F7;
}

.btn-info {
  color: #2C93FF;
  border-color: #2C93FF;
}

.btn-success {
  color: #05AE0E;
  border-color: #05AE0E;
}

.btn-warning {
  color: #FF9500;
  border-color: #FF9500;
}

.btn-danger {
  color: #FF3B30;
  border-color: #FF3B30;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}

.btn-primary {
  &:hover, &:focus, &:active, &.active {
    color: #1D62F0;
    border-color: #1D62F0;
    background-color: rgba(0, 0, 0, 0);
  }
}

.open .dropdown-toggle.btn-primary {
  color: #1D62F0;
  border-color: #1D62F0;
  background-color: rgba(0, 0, 0, 0);
}

.btn-info {
  &:hover, &:focus, &:active, &.active {
    color: #1084FF;
    border-color: #1084FF;
    background-color: rgba(0, 0, 0, 0);
  }
}

.open .dropdown-toggle.btn-info {
  color: #1084FF;
  border-color: #1084FF;
  background-color: rgba(0, 0, 0, 0);
}

.btn-success {
  &:hover, &:focus, &:active, &.active {
    color: #049F0C;
    border-color: #049F0C;
    background-color: rgba(0, 0, 0, 0);
  }
}

.open .dropdown-toggle.btn-success {
  color: #049F0C;
  border-color: #049F0C;
  background-color: rgba(0, 0, 0, 0);
}

.btn-warning {
  &:hover, &:focus, &:active, &.active {
    color: #ED8D00;
    border-color: #ED8D00;
    background-color: rgba(0, 0, 0, 0);
  }
}

.open .dropdown-toggle.btn-warning {
  color: #ED8D00;
  border-color: #ED8D00;
  background-color: rgba(0, 0, 0, 0);
}

.btn-danger {
  &:hover, &:focus, &:active, &.active {
    color: #EE2D20;
    border-color: #EE2D20;
    background-color: rgba(0, 0, 0, 0);
  }
}

.open .dropdown-toggle.btn-danger {
  color: #EE2D20;
  border-color: #EE2D20;
  background-color: rgba(0, 0, 0, 0);
}

.btn-default {
  &:hover, &:focus, &:active, &.active {
    color: #666666;
    border-color: #888888;
    background-color: rgba(0, 0, 0, 0);
  }
}

.open .dropdown-toggle.btn-default {
  color: #666666;
  border-color: #888888;
  background-color: rgba(0, 0, 0, 0);
}

.btn {
  &:active, &.active {
    background-image: none;
    box-shadow: none;
  }

  &.disabled, &[disabled] {
    opacity: 0.45;
  }
}

fieldset[disabled] .btn {
  opacity: 0.45;
}

.btn-primary {
  &.disabled, &[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #3472F7;
  }
}

fieldset[disabled] .btn-primary {
  background-color: rgba(0, 0, 0, 0);
  border-color: #3472F7;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #3472F7;
  }
}

fieldset[disabled] .btn-primary:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #3472F7;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: #3472F7;
  }
}

fieldset[disabled] .btn-primary:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #3472F7;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #3472F7;
  }
}

fieldset[disabled] .btn-primary:active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #3472F7;
}

.btn-primary {
  &.disabled.active, &.active[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #3472F7;
  }
}

fieldset[disabled] .btn-primary.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #3472F7;
}

.btn-info {
  &.disabled, &[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #2C93FF;
  }
}

fieldset[disabled] .btn-info {
  background-color: rgba(0, 0, 0, 0);
  border-color: #2C93FF;
}

.btn-info {
  &.disabled:hover, &[disabled]:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #2C93FF;
  }
}

fieldset[disabled] .btn-info:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #2C93FF;
}

.btn-info {
  &.disabled:focus, &[disabled]:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: #2C93FF;
  }
}

fieldset[disabled] .btn-info:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #2C93FF;
}

.btn-info {
  &.disabled:active, &[disabled]:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #2C93FF;
  }
}

fieldset[disabled] .btn-info:active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #2C93FF;
}

.btn-info {
  &.disabled.active, &.active[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #2C93FF;
  }
}

fieldset[disabled] .btn-info.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #2C93FF;
}

.btn-success {
  &.disabled, &[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #05AE0E;
  }
}

fieldset[disabled] .btn-success {
  background-color: rgba(0, 0, 0, 0);
  border-color: #05AE0E;
}

.btn-success {
  &.disabled:hover, &[disabled]:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #05AE0E;
  }
}

fieldset[disabled] .btn-success:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #05AE0E;
}

.btn-success {
  &.disabled:focus, &[disabled]:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: #05AE0E;
  }
}

fieldset[disabled] .btn-success:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #05AE0E;
}

.btn-success {
  &.disabled:active, &[disabled]:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #05AE0E;
  }
}

fieldset[disabled] .btn-success:active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #05AE0E;
}

.btn-success {
  &.disabled.active, &.active[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #05AE0E;
  }
}

fieldset[disabled] .btn-success.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #05AE0E;
}

.btn-danger {
  &.disabled, &[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF3B30;
  }
}

fieldset[disabled] .btn-danger {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF3B30;
}

.btn-danger {
  &.disabled:hover, &[disabled]:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF3B30;
  }
}

fieldset[disabled] .btn-danger:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF3B30;
}

.btn-danger {
  &.disabled:focus, &[disabled]:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF3B30;
  }
}

fieldset[disabled] .btn-danger:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF3B30;
}

.btn-danger {
  &.disabled:active, &[disabled]:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF3B30;
  }
}

fieldset[disabled] .btn-danger:active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF3B30;
}

.btn-danger {
  &.disabled.active, &.active[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF3B30;
  }
}

fieldset[disabled] .btn-danger.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF3B30;
}

.btn-warning {
  &.disabled, &[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF9500;
  }
}

fieldset[disabled] .btn-warning {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF9500;
}

.btn-warning {
  &.disabled:hover, &[disabled]:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF9500;
  }
}

fieldset[disabled] .btn-warning:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF9500;
}

.btn-warning {
  &.disabled:focus, &[disabled]:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF9500;
  }
}

fieldset[disabled] .btn-warning:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF9500;
}

.btn-warning {
  &.disabled:active, &[disabled]:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF9500;
  }
}

fieldset[disabled] .btn-warning:active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF9500;
}

.btn-warning {
  &.disabled.active, &.active[disabled] {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF9500;
  }
}

fieldset[disabled] .btn-warning.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #FF9500;
}

/*           Buttons fill .btn-fill           */

.btn-fill {
  color: #FFFFFF;
  opacity: 1;

  &:hover, &:active, &:focus {
    color: #FFFFFF;
  }
}

.btn-default.btn-fill {
  background-color: #999999;
  border-color: #999999;
}

.btn-primary.btn-fill {
  background-color: #3472F7;
  border-color: #3472F7;
}

.btn-info.btn-fill {
  background-color: #2C93FF;
  border-color: #2C93FF;
}

.btn-success.btn-fill {
  background-color: #05AE0E;
  border-color: #05AE0E;
}

.btn-warning.btn-fill {
  background-color: #FF9500;
  border-color: #FF9500;
}

.btn-danger.btn-fill {
  background-color: #FF3B30;
  border-color: #FF3B30;
}

.btn-default.btn-fill {
  &:hover, &:focus, &:active, &.active {
    background-color: #888888;
    border-color: #888888;
  }
}

.open .dropdown-toggle.btn-fill.btn-default {
  background-color: #888888;
  border-color: #888888;
}

.btn-primary.btn-fill {
  &:hover, &:focus, &:active, &.active {
    border-color: #1D62F0;
    background-color: #1D62F0;
  }
}

.open .dropdown-toggle.btn-primary.btn-fill {
  border-color: #1D62F0;
  background-color: #1D62F0;
}

.btn-info.btn-fill {
  &:hover, &:focus, &:active, &.active {
    background-color: #1084FF;
    border-color: #1084FF;
  }
}

.open .dropdown-toggle.btn-info.btn-fill {
  background-color: #1084FF;
  border-color: #1084FF;
}

.btn-success.btn-fill {
  &:hover, &:focus, &:active, &.active {
    background-color: #049F0C;
    border-color: #049F0C;
  }
}

.open .dropdown-toggle.btn-fill.btn-success {
  background-color: #049F0C;
  border-color: #049F0C;
}

.btn-warning.btn-fill {
  &:hover, &:focus, &:active, &.active {
    background-color: #ED8D00;
    border-color: #ED8D00;
  }
}

.open .dropdown-toggle.btn-fill.btn-warning {
  background-color: #ED8D00;
  border-color: #ED8D00;
}

.btn-danger.btn-fill {
  &:hover, &:focus, &:active, &.active {
    background-color: #EE2D20;
    border-color: #EE2D20;
  }
}

.open .dropdown-toggle.btn-danger.btn-fill {
  background-color: #EE2D20;
  border-color: #EE2D20;
}

/*          End Buttons fill          */

.btn-simple {
  font-weight: 600;
  border: 0;
  padding: 10px 18px;

  &.btn-xs {
    padding: 3px 5px;
  }

  &.btn-sm {
    padding: 7px 10px;
  }

  &.btn-lg {
    padding: 16px 60px;
  }
}

.btn-round {
  &.btn-xs {
    padding: 2px 5px;
  }

  &.btn-sm {
    padding: 6px 10px;
  }

  &.btn-lg {
    padding: 15px 60px;
  }
}

/*             Inputs               */

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: none;
  color: #444444;
  // height: 38px;
  padding: 6px 16px;

  &:focus {
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: none;
    outline: 0 none;
  }

  + .form-control-feedback {
    border-radius: 6px;
    font-size: 14px;
    padding: 0 12px 0 0;
    position: absolute;
    right: 25px;
    top: 13px;
    vertical-align: middle;
  }
}

.input-lg {
  height: 56px;
  padding: 10px 16px;
}

.has-success .form-control, .has-error .form-control, .has-success .form-control:focus, .has-error .form-control:focus {
  border-color: #E3E3E3;
  box-shadow: none;
}

.has-success {
  .form-control, .form-control-feedback {
    color: #05AE0E;
  }
}

.has-error {
  .form-control, .form-control-feedback {
    color: #FF3B30;
  }
}

.has-success .form-control:focus {
  border-color: #05AE0E;
}

.has-error .form-control:focus {
  border-color: #FF3B30;
}

.input-group-addon {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
}

.form-control:focus {
  + .input-group-addon, ~ .input-group-addon {
    background-color: #FFFFFF;
    border-color: #9A9A9A;
  }
}

.input-group .form-control:first-child, .input-group-addon:first-child {
  border-right: 0 none;
}

.input-group-btn {
  &:first-child > {
    .btn, .dropdown-toggle {
      border-right: 0 none;
    }
  }

  &:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0 none;
  }
}

.input-group .form-control:last-child, .input-group-addon:last-child {
  border-left: 0 none;
}

.input-group-btn {
  &:last-child > {
    .btn, .dropdown-toggle {
      border-left: 0 none;
    }
  }

  &:first-child > .btn:not(:first-child) {
    border-left: 0 none;
  }
}

.form-control {
  &[disabled], &[readonly] {
    background-color: #EEEEEE;
    color: #999999;
    cursor: not-allowed;
  }
}

fieldset[disabled] .form-control {
  background-color: #EEEEEE;
  color: #999999;
  cursor: not-allowed;
}

/*           Navigation Bar             */

.navbar {
  border: 0 none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  font-size: 16px;
}

.navbar-default {
  background-color: #D9D9D9;
}

.navbar .navbar-brand {
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.navbar-nav > li > a {
  margin-top: 13px;
  margin-bottom: 13px;
  padding-bottom: 12px;
  padding-top: 12px;

  [class^="fa"] {
    font-size: 18px;
  }
}

.navbar-brand {
  padding: 20px 15px;
}

.navbar .btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-default:not(.navbar-transparent) {
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-transparent {
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0);

  .navbar-brand {
    color: #FFFFFF;
    opacity: 0.95;
  }
}

[class*="navbar-ct"] .navbar-brand {
  color: #FFFFFF;
  opacity: 0.95;
}

.navbar-transparent {
  .navbar-brand {
    &:hover, &:focus {
      background-color: rgba(0, 0, 0, 0);
      color: #5E5E5E;
    }
  }

  .nav .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
  }

  .navbar-nav > li > a {
    color: #FFFFFF;
    border-color: #FFFFFF;
    opacity: 0.7;
  }
}

[class*="navbar-ct"] .navbar-nav > li > a {
  color: #FFFFFF;
  border-color: #FFFFFF;
  opacity: 0.7;
}

.navbar-transparent .navbar-brand {
  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    opacity: 1;
  }
}

[class*="navbar-ct"] .navbar-brand {
  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    opacity: 1;
  }
}

.navbar-default .navbar-nav > {
  .active > a {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #2C93FF;
    opacity: 1;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 3px;
      color: #2C93FF;
      opacity: 1;
    }
  }

  li > a {
    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 3px;
      color: #2C93FF;
      opacity: 1;
    }
  }

  .dropdown > a {
    &:hover .caret, &:focus .caret {
      border-bottom-color: #2C93FF;
      border-top-color: #2C93FF;
    }
  }

  .open > a {
    background-color: rgba(255, 255, 255, 0);
    color: #2C93FF;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0);
      color: #2C93FF;
    }
  }
}

.navbar-transparent .navbar-nav > {
  .active > a {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #FFFFFF;
    opacity: 1;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 3px;
      color: #FFFFFF;
      opacity: 1;
    }
  }

  li > a {
    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 3px;
      color: #FFFFFF;
      opacity: 1;
    }
  }
}

[class*="navbar-ct"] .navbar-nav > {
  .active > a {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #FFFFFF;
    opacity: 1;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 3px;
      color: #FFFFFF;
      opacity: 1;
    }
  }

  li > a {
    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 3px;
      color: #FFFFFF;
      opacity: 1;
    }
  }
}

.navbar-transparent .navbar-nav > .dropdown > a .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}

.navbar-transparent .navbar-nav > {
  .dropdown > a {
    &:hover .caret, &:focus .caret {
      border-bottom-color: #FFFFFF;
      border-top-color: #FFFFFF;
    }
  }

  .open > a {
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    opacity: 1;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0);
      color: #FFFFFF;
      opacity: 1;
    }
  }
}

.navbar {
  .btn {
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .btn-default {
    color: #777777;
    border-color: #777777;
  }
}

.navbar-default:not(.navbar-transparent) .btn-default:hover {
  color: #2C93FF;
  border-color: #2C93FF;
}

.navbar-transparent .btn-default {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

[class*="navbar-ct"] {
  .btn-default {
    color: #FFFFFF;
    border-color: #FFFFFF;

    &.btn-fill {
      color: #777777;
      background-color: #FFFFFF;
      opacity: 0.9;

      &:hover, &:focus, &:active, &.active {
        border-color: #FFFFFF;
        opacity: 1;
      }
    }
  }

  .open .dropdown-toggle.btn-fill.btn-default {
    border-color: #FFFFFF;
    opacity: 1;
  }
}

.navbar-form {
  box-shadow: none;

  .form-control {
    background-color: rgba(244, 244, 244, 0);
    border-radius: 0;
    border: 0;
    height: 22px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: #777777;
  }
}

.navbar-transparent .navbar-form .form-control, [class*="navbar-ct"] .navbar-form .form-control {
  color: #FFFFFF;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.navbar:not(.navbar-transparent) {
  &.navbar-ct-blue {
    background-color: #34ACDC;
    background-color: rgba(52, 172, 220, 0.98);
  }

  &.navbar-ct-azzure {
    background-color: #5BCAFF;
    background-color: rgba(91, 203, 255, 0.98);
  }

  &.navbar-ct-green {
    background-color: #4cd964;
    background-color: rgba(76, 217, 98, 0.98);
  }

  &.navbar-ct-orange {
    background-color: #FF9500;
    background-color: rgba(255, 152, 0, 0.97);
  }

  &.navbar-ct-red {
    background-color: #FF4C40;
    background-color: rgba(255, 76, 64, 0.98);
  }
}

.dropdown-menu > li {
  > a {
    /*     border-bottom: 1px solid #DDDDDD; */
    padding: 8px 20px;
    color: #333333;
  }

  &:first-child > a {
    border-radius: 10px 10px 0 0;
  }

  &:last-child > a {
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
  }

  > a {
    &:hover, &:focus {
      background-color: #F5F5F5;
      color: #333333;
      opacity: 1;
      text-decoration: none;
    }
  }
}

.navbar-toggle {
  margin-top: 19px;
  margin-bottom: 19px;
  border: 0;

  .icon-bar {
    background-color: #FFFFFF;
  }
}

.navbar-collapse, .navbar-form {
  border-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle {
  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0);
  }
}

/*           Labels & Progress-bar              */

.label {
  padding: 0.2em 0.6em 0.2em;
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999999;
  background-color: #FFFFFF;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.label-primary {
  border-color: #3472F7;
  color: #3472F7;
}

.label-info {
  border-color: #2C93FF;
  color: #2C93FF;
}

.label-success {
  border-color: #05AE0E;
  color: #05AE0E;
}

.label-warning {
  border-color: #FF9500;
  color: #FF9500;
}

.label-danger {
  border-color: #FF3B30;
  color: #FF3B30;
}

.label.label-fill {
  color: #FFFFFF;
}

.label-primary.label-fill, .progress-bar, .progress-bar-primary {
  background-color: #3472F7;
}

.label-info.label-fill, .progress-bar-info {
  background-color: #2C93FF;
}

.label-success.label-fill, .progress-bar-success {
  background-color: #05AE0E;
}

.label-warning.label-fill, .progress-bar-warning {
  background-color: #FF9500;
}

.label-danger.label-fill, .progress-bar-danger {
  background-color: #FF3B30;
}

.label-default.label-fill {
  background-color: #999999;
}

.progress {
  background-color: #E5E5E5;
  border-radius: 3px;
  box-shadow: none;
  height: 4px;
}

.progress-thin {
  height: 2px;
}

/*            Navigation menu                */

.nav-pills > li {
  + li {
    margin-left: 0;
  }

  > a {
    border: 1px solid #2C93FF;
    border-radius: 0;
    color: #2C93FF;
    margin-left: -1px;
  }
}

.nav > li > a {
  &:hover, &:focus {
    background-color: #F5F5F5;
  }
}

.nav-pills.ct-blue > li.active > a {
  background-color: #3472F7;

  &:hover, &:focus {
    background-color: #3472F7;
  }
}

.pagination.ct-blue > .active > {
  a, span, a:hover, span:hover, a:focus, span:focus {
    background-color: #3472F7;
  }
}

.nav-pills.ct-azure > li.active > a {
  background-color: #2C93FF;

  &:hover, &:focus {
    background-color: #2C93FF;
  }
}

.pagination.ct-azure > .active > {
  a, span, a:hover, span:hover, a:focus, span:focus {
    background-color: #2C93FF;
  }
}

.nav-pills.ct-green > li.active > a {
  background-color: #05AE0E;

  &:hover, &:focus {
    background-color: #05AE0E;
  }
}

.pagination.ct-green > .active > {
  a, span, a:hover, span:hover, a:focus, span:focus {
    background-color: #05AE0E;
  }
}

.nav-pills.ct-orange > li.active > a {
  background-color: #FF9500;

  &:hover, &:focus {
    background-color: #FF9500;
  }
}

.pagination.ct-orange > .active > {
  a, span, a:hover, span:hover, a:focus, span:focus {
    background-color: #FF9500;
  }
}

.nav-pills.ct-red > li.active > a {
  background-color: #FF3B30;

  &:hover, &:focus {
    background-color: #FF3B30;
  }
}

.pagination.ct-red > .active > {
  a, span, a:hover, span:hover, a:focus, span:focus {
    background-color: #FF3B30;
  }
}

.nav-pills {
  &.ct-blue > li > a {
    border: 1px solid #3472F7;
    color: #3472F7;
  }

  &.ct-azure > li > a {
    border: 1px solid #2C93FF;
    color: #2C93FF;
  }

  &.ct-green > li > a {
    border: 1px solid #05AE0E;
    color: #05AE0E;
  }

  &.ct-orange > li > a {
    border: 1px solid #FF9500;
    color: #FF9500;
  }

  &.ct-red > li > a {
    border: 1px solid #FF3B30;
    color: #FF3B30;
  }

  > li {
    &.active > a {
      background-color: #2C93FF;
      color: #FFFFFF;

      &:hover, &:focus {
        background-color: #2C93FF;
        color: #FFFFFF;
      }
    }

    &:first-child > a {
      border-radius: 4px 0 0 4px;
      margin: 0;
    }

    &:last-child > a {
      border-radius: 0 4px 4px 0;
    }
  }
}

.pagination {
  &.no-border > li > {
    a, span {
      border: 0;
    }
  }

  > li {
    > {
      a, span {
        border-radius: 50%;
        margin: 0 2px;
        color: #777777;
      }
    }

    &:first-child > {
      a, span {
        border-radius: 50%;
        margin: 0 2px;
        color: #777777;
      }
    }

    &:last-child > {
      a, span {
        border-radius: 50%;
        margin: 0 2px;
        color: #777777;
      }
    }

    &.active > {
      a, span, a:hover, span:hover, a:focus, span:focus {
        background-color: #2C93FF;
        border: 0;
        color: #FFFFFF;
        padding: 7px 13px;
      }
    }
  }
}

.alert {
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 14px;
}

.container .alert {
  border-radius: 4px;
}

.alert-info {
  background-color: #5BCAFF;
  background-color: rgba(91, 203, 255, 0.96);
}

.alert-success {
  background-color: #4cd964;
  background-color: rgba(76, 217, 98, 0.96);
}

.alert-warning {
  background-color: #FF9500;
  background-color: rgba(255, 152, 0, 0.95);
}

.alert-danger {
  background-color: #FF4C40;
  background-color: rgba(255, 76, 64, 0.96);
}

.navbar {
  .alert {
    border-radius: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    z-index: 3;
    transition: all 0.3s;
  }

  &:not(.navbar-transparent) .alert {
    top: 70px;
  }
}

.text-primary {
  color: #1D62F0;

  &:hover {
    color: #1D62F0;
  }
}

.text-info {
  color: #1084FF;

  &:hover {
    color: #1084FF;
  }
}

.text-success {
  color: #0C9C14;

  &:hover {
    color: #0C9C14;
  }
}

.text-warning {
  color: #ED8D00;

  &:hover {
    color: #ED8D00;
  }
}

.text-danger {
  color: #EE2D20;

  &:hover {
    color: #EE2D20;
  }
}

.modal-header {
  border: 0 none;
}

.modal-content {
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.modal-dialog {
  padding-top: 60px;
}

.modal-footer {
  border-top: 0 none;
  padding: 5px 10px;
  text-align: right;

  .btn {
    font-size: 16px;
  }

  .btn-default.btn-simple {
    font-weight: 400;
  }

  .divider {
    background-color: #DDDDDD;
    display: inline-block;
    float: inherit;
    height: 26px;
    margin: 8px -3px;
    position: absolute;
    width: 1px;
  }
}

.modal {
  &.fade .modal-dialog, &.in .modal-dialog {
    transform: none;
  }
}

.tooltip {
  font-size: 14px;
  font-weight: bold;
}

.tooltip-arrow {
  display: none;
  opacity: 0;
}

.tooltip-inner {
  background-color: #FAE6A4;
  border-radius: 4px;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(115, 71, 38, 0.23);
  color: #734726;
  max-width: 200px;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;

  &:after, &:before {
    content: "";
    display: inline-block;
    left: 100%;
    margin-left: -60%;
    position: absolute;
  }
}

.tooltip {
  &.top {
    margin-top: -11px;
    padding: 0;

    .tooltip-inner {
      &:after {
        border-top: 11px solid #FAE6A4;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        bottom: -10px;
      }

      &:before {
        border-top: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        bottom: -11px;
      }
    }
  }

  &.bottom {
    margin-top: 11px;
    padding: 0;

    .tooltip-inner {
      &:after {
        border-bottom: 11px solid #FAE6A4;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        top: -10px;
      }

      &:before {
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        top: -11px;
      }
    }
  }

  &.left {
    margin-left: -11px;
    padding: 0;

    .tooltip-inner {
      &:after {
        border-left: 11px solid #FAE6A4;
        border-top: 11px solid rgba(0, 0, 0, 0);
        border-bottom: 11px solid rgba(0, 0, 0, 0);
        right: -10px;
        left: auto;
        margin-left: 0;
      }

      &:before {
        border-left: 11px solid rgba(0, 0, 0, 0.2);
        border-top: 11px solid rgba(0, 0, 0, 0);
        border-bottom: 11px solid rgba(0, 0, 0, 0);
        right: -11px;
        left: auto;
        margin-left: 0;
      }
    }
  }

  &.right {
    margin-left: 11px;
    padding: 0;

    .tooltip-inner {
      &:after {
        border-right: 11px solid #FAE6A4;
        border-top: 11px solid rgba(0, 0, 0, 0);
        border-bottom: 11px solid rgba(0, 0, 0, 0);
        left: -10px;
        top: 0;
        margin-left: 0;
      }

      &:before {
        border-right: 11px solid rgba(0, 0, 0, 0.2);
        border-top: 11px solid rgba(0, 0, 0, 0);
        border-bottom: 11px solid rgba(0, 0, 0, 0);
        left: -11px;
        top: 0;
        margin-left: 0;
      }
    }
  }
}

.modal-backdrop.in {
  opacity: 0.25;
}

.carousel-control {
  width: 8%;

  .icon-prev, .icon-next {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
  }

  .fa {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
    font-size: 35px;
  }

  &.left, &.right {
    background-image: none;
  }
}

.gsdk-transition .carousel-inner > .item {
  transition: left 1200ms cubic-bezier(0.455, 0.03, 0.4, 0.955) 0s;
  -webkit-transition: left 1200ms cubic-bezier(0.455, 0.03, 0.4, 0.955) 0s;
}

.panel {
  border: 0;
  box-shadow: none;
}

.panel-default > .panel-heading {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.14);
}

.panel-group .panel {
  border-radius: 0;
}

.panel-title {
  font-size: 18px;

  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.gsdk-collapse {
  transition: all 400ms;
  display: block;
  height: 0px;
}

.panel-title a {
  &:hover, &:focus {
    color: #333333;
  }
}

/*   EXTRA SHIT  */
/* @cristina: fisier singular, folosit pentru efectul de blur la parallax in header */

.blurred-container {
  position: relative;
  width: 100%;
  height: 540px;
  top: 0;
  left: 0;

  > .img-src {
    position: fixed;
    width: 100%;
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.blur {
  opacity: 0;
}

.logo-container {
  left: 50px;
  position: absolute;
  top: 20px;
  z-index: 3;

  .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 60px;
    float: left;
  }

  .brand {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
  }
}

.blurred-container .motto {
  color: #FFFFFF;
  font-size: 76px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  text-transform: uppercase;
  top: 100px;
  z-index: 3;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 306px;
  height: 0;

  .border {
    float: left;
    border: 3px solid #FFFFFF;
    padding: 0px 30px;
    text-align: center;
  }

  .no-right-border {
    border-right: none;
  }
}
