<nav-header></nav-header>
<div class="container" style="min-height: 400px;margin-top: 30px;margin-bottom: 30px;">
  <div class="row">
    <div class="col-md-12">
      <div class="bg-white title">
        TỶ LỆ QUY ĐỔI: <strong>1,000 VND = 1 xu </strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="bg-white content">
        <form [ngFormModel]="addCreditForm" (submit)="doAddCredit()" [hidden]="regSuccessMessage">
          <div class="form-group">
            <label for="issuer">Chọn loại thẻ</label>
            <select class="form-control" ngControl="issuer" #issuer="ngForm">
              <option value="MOBI">Mobifone</option>
              <option value="VINA">Vinaphone</option>
              <option value="VT">Viettel</option>
              <option value="VCOIN">VCOIN - VTC</option>
              <option value="GATE">GATE - FPT</option>
              <option value="GM">GM</option>
              <option value="BIT">BIT</option>
              <option value="ZING">ZING</option>
            </select>
          </div>
          <div class="form-group">
            <label for="cardSerial">Số SERIAL</label>
            <input type="text" class="form-control" ngControl="cardSerial" #cardSerial="ngForm">
          </div>
          <div class="form-group">
            <label for="cardCode">Mã thẻ</label>
            <input type="text" class="form-control" ngControl="cardCode" #cardCode="ngForm">
          </div>
          <button type="submit" [disabled]="!addCreditForm.valid" class="btn btn-primary btn-fill btn-block">Nạp thẻ</button>
        </form>
      </div>
    </div>
  </div>
</div>
