<div class="control-menu">
  <div class="container">
    <ul class="list-unstyled">
      <li>QUẢN LÝ </li>
      <li><a router-active="active" [routerLink]="['User']">Thành viên</a></li>
      <li><a router-active="active" [routerLink]="['TournamentAdmin']">Giải đấu</a></li>
      <li><a router-active="active" [routerLink]="['NewsAdmin']">Tin tức</a></li>
      <li><a router-active="active" [routerLink]="['GiftAdmin']">Quà</a></li>
      <li><a router-active="active" [routerLink]="['PredictAdmin']">Dự đoán</a></li>
      <li><a href="">Phòng máy</a></li>
      <li><a href="">Cài đặt</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
