
.control-menu {
  min-height: 52px;
  background: rgba(39, 39, 39, 0.82);
  // background: linear-gradient(to bottom, #000000 0%, #343434 100%);
   ul {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 16px;
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    li {
      &:first-child{
        margin-right: 10px;
      }
      display: inline-block;
      float: left;
      margin-left: 5px;
      outline: none;
      display: block;
      line-height: 32px;
      color: #777;
      border-radius: 3px;
      a {
       padding: 5px 20px;
       color: #fff;

        &:hover {
          text-decoration: none;
          background: #CF3D23;
          cursor: pointer;
        }
        &.active {
          background: #CF3D23;
        }
      }
    }
  }

}
