.news {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 30px;
  text-align: center;
  .tg {
    font-weight: 700;
  }
}
h3 {
  background: rgba(0,0,0,0.8);
  padding: 30px;
  color: #fff;
}
