<nav-header></nav-header>

<div class="container">
  <div *ngIf="!news" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div>
  <h3 *ngIf="news">{{news.name}}</h3>
  <div class="news" *ngIf="news">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div [innerHtml]="news.description"></div>
        </div>
        <p class="pull-md-right tg" *ngIf="news.ownerId">Đăng bởi {{news.ownerId.name}}</p>
      </div>
    </div>
  </div>
</div>
