<div class="container">
  <div class="tournamentForm">
    <form [ngFormModel]="giftForm" (submit)="doSubmit()">
      <div class="form-group row">
        <label class="col-md-2">Tên Quà</label>
        <input type="text" ngControl="name" #name="ngForm" class="form-control col-md-5" placeholder="Nhập tên Quà tặng">
        <div class="checkbox col-md-1">
          <label>
            <input type="checkbox" ngControl="status" #status="ngForm"> Kích hoạt</label>
        </div>
        <label class="col-md-1">Tên hãng</label>
        <input type="text" ngControl="subCategory" #subCategory="ngForm" class="form-control col-md-3" placeholder="Nhập tên Hãng">
      </div>
      <div class="form-group row">
        <label class="col-md-2">Giá sản phẩm</label>
        <input type="text" ngControl="price" #price="ngForm" class="form-control col-md-5" placeholder="Nhập giá sản phẩm" (change)="_change(price.value)">
        <label class="col-md-1">Giá Xu</label>
        <strong class="col-md-1">{{giftCredit}}</strong>
        <select class="form-control col-md-3" name="" ngControl="category" #category="ngForm">
          <option value="CARD_PHONE" selected>Card điện thoại</option>
          <option value="CARD_GAME">Card Game</option>
          <option value="KHAC">Sản phẩm Khác</option>
        </select>
      </div>
      <div class="form-group row">
        <textarea name="editor1" id="editor1" class="form-control col-md-12" rows="3" [(ngModel)]="giftDes"></textarea>
      </div>

      <div class="form-group">
        <label class="file">
          <input type="file" [value]="selectedFile" id="file" (change)="selectFile($event)">
          <span class="file-custom"></span>
        </label>
        <p *ngIf="file">{{file.name}}</p>
        <img *ngIf="imageReview" [src]="imageReview" width="100%" />
      </div>
      <button type="submit" class="btn btn-primary btn-fill btn-block">Đồng ý</button>
    </form>

  </div>
</div>


<div id="dtBox"></div>
