<div class="container">
  <div class="tournamentForm">
    <form [ngFormModel]="tournamentForm" (submit)="doSubmit()">
      <div class="form-group row">
        <label class="col-md-2">Tên giải đấu dự đoán</label>
        <input type="text" ngControl="name" #name="ngForm" class="form-control col-md-8" placeholder="Nhập tên giải đấu">
        <input type="text" ngControl="credit" #credit="ngForm" class="form-control col-md-2" placeholder="1000 VND = 1 xu">
      </div>
      <div class="form-group row">
        <input type="text" ngControl="teamA" #teamA="ngForm" class="form-control col-md-6" placeholder="Tên đội A">
        <input type="text" ngControl="teamB" #teamB="ngForm" class="form-control col-md-6" placeholder="Tên đội B">
      </div>
      <div class="form-group row">
        <label class="col-md-2">Thời gian giải đấu</label>
        <input type="datetime-local" ngControl="startRun" #startRun="ngForm" class="form-control col-md-5" placeholder="Bắt đầu đấu giải">
        <input type="datetime-local" ngControl="endRun" #endRun="ngForm" class="form-control col-md-5" placeholder="Kết thúc đấu giải">
      </div>

      <button type="submit" class="btn btn-primary btn-fill btn-block">Đồng ý</button>
    </form>

  </div>
</div>
