<nav-header></nav-header>
<div class="container">
  <div *ngIf="!histories" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div>
  <div class="row">
    <div class="col-md-12">
      <div class="bg-white content tablecontainer">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Mô tả</th>
              <th width="200px">Ngày</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#history of histories; #i = index">
              <td>{{i + 1}}</td>
              <td>
                {{history.description}}
              </td>
              <td>{{history.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
