.status {
  margin-right: 5px;
}
.nav-tabs {
  background: #fff;
  text-align: center;
  .nav-link {
    border: none;
    border-radius: 0;
    margin: 10px;
  }
}
.danger {
  background: rgba(255, 14, 0, 0.24);
  color: #FD0D00;
}

.credit {
  padding: 1em 0;
}

.report {
  .list {
    background: #fff;
    text-align: center;
    padding: 10px 0 0;
  }
}
