<div class="container" style="min-height: 400px;margin-top: 30px;margin-bottom: 30px;">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home" role="tab" (click)="_getAllUser()">Tài khoản</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#type" role="tab">Phân quyền</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#permission" role="tab">Quyền hạn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#logs" role="tab" (click)="getLogs()">Lịch sử</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#credit" role="tab">XU</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="container">
        <div class="report m-t-1 m-b-1">
        <div class="row bg-white">

            <div class="col-md-2" *ngFor="#report of Reports">
              <div class="list">
                <p><span class="label" [ngClass]="{
                      'label-danger': report._id.name === 'admin',
                      'label-primary': report._id.name === 'member',
                      'label-success': report._id.name === 'CPM',
                      'label-info': report._id.name === 'CTV',
                      'label-warning': report._id.name === 'HV'
                    }">{{report._id.name}}
                </span></p>
                <p><strong>{{report.count}}</strong></p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="list-table tablecontainer">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>TT</th>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Xu</th>
              <th>Thời hạn</th>
              <th>Loại</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="8">
                <input type="text" class="form-control" placeholder="Username hoặc Email hoặc Phone" #search (keydown.enter)="searchTour(search.value)">
              </td>
            </tr>
            <tr>
              <td colspan="6" *ngIf="Users.length < 1">
                Không có dữ liệu
              </td>
            </tr>
            <tr *ngFor="#user of Users; #i = index" data-toggle="modal" data-target="#editUser" (click)="editUser(user)" [ngClass]="{'danger': user.credit < 0}">
              <td>{{i + 1}}</td>
              <td><span class="status" [ngClass]="{
                  'text-danger': user.status === 'locked',
                  'text-warning': user.status === 'waittingRemove',
                  'text-success': user.status === 'active'
                }"><i class="fa fa-circle"></i></span></td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.credit}}</td>
              <td *ngIf="user.expType">{{user.expType | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</td>
              <td *ngIf="!user.expType">Vô hạn</td>
              <td>
                <span class="label" [ngClass]="{
                      'label-danger': user.type.name === 'admin',
                      'label-primary': user.type.name === 'member',
                      'label-success': user.type.name === 'CPM',
                      'label-info': user.type.name === 'CTV',
                      'label-warning': user.type.name === 'HV'
                      }">{{user.type.name}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- TYPE -->
    <div class="tab-pane" id="type" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" *ngFor="#type of Types; #i = index">
          <a class="nav-link" (click)="selectType(type._id)" [ngClass]="{'active': typeSelected && typeSelected._id === type._id}">{{type.name}}</a>
        </li>
      </ul>
      <div class="list-table" *ngIf="typeSelected">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>SORT CODE</th>
              <th>Mô tả</th>
              <th>Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5">
                <select #typeS class="c-select" style="width: 90%">
                  <option *ngFor="#typex of isPerTypesNotSelected" [value]="typex._id"> {{typex.description}} </option>
                </select>
                <a class="btn btn-primary" (click)="addPerToType(typeS.value)">ADD</a>
              </td>
            </tr>
            <tr *ngFor="#per of typeSelected.permission; #i = index">
              <td>{{i + 1}}</td>
              <td>{{per.name}}</td>
              <td>{{per.description}}</td>
              <td><a class="btn btn-danger btn-sm" (click)="doDeletePer(per.name)">Xóa</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /TYPE -->

    <!-- PERMISSION -->
    <div class="tab-pane" id="permission" role="tabpanel">
      <div class="list-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>SORT CODE</th>
              <th>Mô tả</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5">
                <form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only">SORT CODE</label>
                    <input type="text" class="form-control" placeholder="SORT CODE" [value]="permission.name" #namePermission>
                  </div>
                  <div class="form-group">
                    <label class="sr-only">Description</label>
                    <input type="text" class="form-control" placeholder="Mô tả" [value]="permission.description" #descriptionPermission>
                  </div>
                  <a class="btn btn-primary" (click)="addPermission(namePermission.value, descriptionPermission.value)">ADD</a>
                </form>
              </td>
            </tr>
            <tr *ngFor="#per of Permissions; #i = index">
              <td>{{i + 1}}</td>
              <td>{{per.name}}</td>
              <td>{{per.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /PERMISSION -->


    <!-- LOG -->
    <div class="tab-pane" id="logs" role="tabpanel">
      <div class="container">
        <div class="form-group row">
          <input type="text" class="form-control col-md-10" placeholder="username" #userH>
          <a class="btn-primary btn-block btn btn-fill col-md-2" (click)="_searchUserHistory(userH.value)">Tìm</a>
        </div>
      </div>

      <div class="list-table tablecontainer">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Mô tả</th>
              <th width="200px">Ngày</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#history of histories; #i = index" *ngIf="history">
              <td>{{i + 1}}</td>
              <td>
                <span *ngIf="history.userId && history.userId.username">{{history.userId.username}}</span>
              </td>
              <td>
                {{history.description}}
              </td>
              <td>{{history.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /LOG -->

    <!-- CREDIT -->
    <div class="tab-pane" id="credit" role="tabpanel">
      <div class="bg-white">
        <div class="container">
          <div class="credit">
            <div class="form-group">
              <label class="sr-only">Username</label>
              <input type="text" class="form-control" placeholder="Username" #username2>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Số xu thêm" #credit2>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Số xu trừ" #mcredit2>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Lý do" #reason>
            </div>
            <a class="btn btn-block btn-fill btn-primary" (click)="_extractCredit(username2.value, reason.value, credit2.value, mcredit2.value)" [ngClass]="{'disabled': submitting}"> Đồng ý </a>
          </div>

        </div>
      </div>
    </div>
    <!--/CREDIT -->
  </div>
</div>


<!-- Modal Edit user-->
<div class="bd-example" *ngIf="userSelected">
  <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin</h4>
        </div>
        <div class="modal-body">
          <div [hidden]="!messageReg" [ngClass]="{'alert-success': !isEditError, 'alert-danger': isEditError}" class="alert">
            {{ messageEdit }}
          </div>
          <p>Tình trạng: <strong>{{userSelected.status}}</strong> <a (click)="doLockUser(userSelected._id)" class="btn btn-danger btn-fill btn-sm">Khóa tài khoản</a></p>
          <p *ngIf="userSelected.expType">Hết hạn tài khoản: <strong>{{userSelected.expType | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</strong></p>
          <form [ngFormModel]="editUserForm" (submit)="doEdit()">
            <div class="form-group">
              <label for="name">Tên đầy đủ</label>
              <input type="text" class="form-control" ngControl="name" #name="ngForm" [(ngModel)]="userSelected.name">
            </div>
            <div class="form-group">
              <label for="username">Tên tài khoản</label>
              <input type="text" class="form-control" ngControl="username" #username="ngForm" [(ngModel)]="userSelected.username">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" ngControl="email" #email="ngForm" [(ngModel)]="userSelected.email">
            </div>
            <div class="form-group">
              <label for="phone">Số điện thoại</label>
              <input type="text" class="form-control" ngControl="phone" #phone="ngForm" [(ngModel)]="userSelected.phone">
            </div>
            <div class="form-group">
              <label for="type">Loại tài khoản</label>
              <select class="form-control" #type ngControl="type" #type="ngForm" [(ngModel)]="userSelected.type._id">
                <option *ngFor="#type of Types" [value]="type._id">{{type.name}}</option>
              </select>
              <!--<input type="text" class="form-control" ngControl="type" #type="ngForm" [value]="userSelected.type">-->
            </div>
            <!--<div class="form-group">
              <label for="message-text" class="form-control-label">Nhập lại mật khẩu</label>
              <input type="password" class="form-control" id="recipient-name">
            </div>-->
            <button type="submit" class="btn btn-primary btn-fill btn-block">Chỉnh sửa</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
