<div class="container" style="min-height: 400px;margin-top: 30px;margin-bottom: 30px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3"><a class="btn btn-primary btn-fill btn-block btn-md" [routerLink]="['TournamentCreate']">Tạo giải đấu</a></div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="list-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên giải đấu</th>
              <th>Miễn phí ban đầu</th>
              <th>Chi phí</th>
              <th>Thời gian</th>
              <th>Kết quả</th>
              <th>Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#tour of Tournaments; #i = index" >
              <td>{{i + 1}}</td>
              <td>{{tour.name}}</td>
              <td>{{tour.freeFirstTime}}</td>
              <td>{{tour.credit}} xu</td>
              <td>
                {{tour.startReg | amDateFormat:'DD-MM-YYYY (HH:mm)'}}
                <!--<p><strong>E.J</strong> {{tour.endReg}}</p>
                <p><strong>S.R</strong> {{tour.startRun}}</p>
                <p><strong>E.R</strong> {{tour.endRun}}</p>
                <p><strong>RT</strong> {{tour.remindTime}}</p>    -->
              </td>
              <td>{{tour.winner}}</td>
              <td>
                <a class="btn btn-warning btn-sm" (click)="doExport(tour._id)" >Xuất</a>
                <a class="btn btn-primary btn-sm" [routerLink]="['TournamentEdit', {id: tour._id}]" >Sửa</a>
                <a class="btn btn-danger btn-sm" (click)="doDelete(tour._id)">Xóa</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
