<div class="createRoom m-t-1">
  <div class="container bg-white">
    <div class="tournamentForm">
      <form [ngFormModel]="challengeCreateRoomForm" (submit)="doAdd()">
        <div class="form-group row">
          <input type="text" ngControl="name" #name="ngForm" class="form-control col-md-6" placeholder="Nhập tên phòng">
          <select class="" name="form-control col-md-3" #credit (change)="_change(credit.value)">
            <option value="0" selected>Phần thưởng</option>
            <option value="50">50 xu</option>
            <option value="100">100 xu</option>
            <option value="150">150 xu</option>
            <option value="200">200 xu</option>
            <option value="250">250 xu</option>
            <option value="300">300 xu</option>
            <option value="350">350 xu</option>
            <option value="400">400 xu</option>
            <option value="450">450 xu</option>
            <option value="500">500 xu</option>
          </select>
          <label class="m-l-1 col-md-2">Lệ phí khi thắng</label>
          <input type="number" [(ngModel)]="fee" class="form-control col-md-1" disabled placeholder="Lệ phí khi thắng">
        </div>
        <div class="form-group row">
          <input type="text" ngControl="password" #password="ngForm" class="form-control col-md-6" placeholder="Mật khẩu phòng">
          <input type="text" ngControl="phone" #phone="ngForm" class="form-control col-md-6" placeholder="Số điện thoại">
        </div>
        <!-- <div class="form-group row">
          <label class="col-md-2">Thời gian giải đấu</label>
          <input type="datetime-local" ngControl="startRun" #startRun="ngForm" class="form-control col-md-5" placeholder="Bắt đầu">
          <input type="datetime-local" ngControl="endRun" #endRun="ngForm" class="form-control col-md-5" placeholder="Kết thúc">
        </div> -->

        <div class="form-group">
          <input type="text" ngControl="inGame1" #inGame1="ngForm" class="form-control col-md-5" placeholder="Tên Ingame 1">
        </div>

        <div class="form-group">
          <input type="text" ngControl="inGame2" #inGame2="ngForm" class="form-control col-md-5" placeholder="Tên Ingame 2">
        </div>

        <div class="form-group">
          <input type="text" ngControl="inGame3" #inGame3="ngForm" class="form-control col-md-5" placeholder="Tên Ingame 3">
        </div>

        <div class="form-group">
          <input type="text" ngControl="inGame4" #inGame4="ngForm" class="form-control col-md-5" placeholder="Tên Ingame 4">
        </div>

        <div class="form-group">
          <input type="text" ngControl="inGame5" #inGame5="ngForm" class="form-control col-md-5" placeholder="Tên Ingame 5">
        </div>
        <button type="submit" class="btn btn-primary btn-fill btn-block" [ngClass]="{'disabled': submitting}">Đồng ý</button>
      </form>

    </div>
  </div>
</div>



<div id="dtBox"></div>
