.root {
  // margin: 30px 0;
}
.notification {
 padding: 10px 20px;
 margin: 20px 0;
 background: rgba(0,0,0,0.8);
 color: #fff;
}
.postList {
  background: rgba(0,0,0,0.7);
  color: #fff;
  margin: 20px 0;
  padding: 20px;
  h1 {
    padding-bottom: 15px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
    /* color: #333333; */
    &.head {
      text-transform: uppercase;
      border-bottom: 1px solid #e2e2e2;
      margin-bottom: 20px;
    }
    a {
      color: #CF3D23;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
    /* color: #333333; */
    a {
      color: #FF6100;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .post {
    // border-bottom: 1px solid #ddd;
    padding: 20px 0;
    &:last-child {
      // border-bottom: 1px solid #fff;
    }
  }
  img {
    width: 100%;
    height: 100%;
    &.imageNews {
      height: 150px;
      width: 100%;
    }
  }
}

.eventList {
  background: rgba(0,0,0,0.8);
  color: #fff;
  margin: 20px 0;
  padding: 20px;
  h1 {
    padding-bottom: 15px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
    /* color: #333333; */
    &.head {
      text-transform: uppercase;
      border-bottom: 1px solid #e2e2e2;
      margin-bottom: 20px;
    }
  }
  h4 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    /* color: #333333; */
    a {
      color: #FF6100;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .event {
    // border-bottom: 1px solid #ddd;
    padding: 20px 0;
    &:last-child {
      // border-bottom: 1px solid #fff;
    }
  }
  img {
    width: 100%;
    min-height: 60px;
  }
}

.contentNewsHome {
  font-size: 15px;
}
