
<nav-header></nav-header>
<!--<slider-component></slider-component>-->
<div class="root">
  <div class="container">
    <div class="notification">
      <marquee style="z-index:1">Chào mừng các bạn đến với CỘNG ĐỒNG PHÒNG NET VIỆT NAM  </marquee>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="postList">
          <h1 class="head">Tin tức mới nhất</h1>
          <div class="post" *ngFor="#post of news">
            <div class="row">
              <div class="col-md-4">
                <img [src]="post.image" class="imageNews" alt="">
              </div>
              <div class="col-md-8">
                <h4><a [routerLink]="['News', {id: post.slug}]">{{post.name}}</a></h4>
                <div class="contentNewsHome">
                  <span [innerHtml]="post.description"></span>
                  <span class="pull-md-right text-muted">{{post.ctime | amDateFormat:'DD-MM-YYYY'}}</span>
                  <!-- <p class="pull-md-right text-muted">{{post.ctime | amDateFormat:'DD-MM-YYYY'}}</p> -->
                </div>
                <!-- <div class="bottom">
                  <p class="pull-md-left text-muted">25-03-2015</p>
                  <p class="pull-md-right"><a href="" class="btn btn-danger btn-fill btn-sm">Xem tiếp</a></p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="eventList">
          <h1 class="head">Lịch thi đấu</h1>
          <div class="event" *ngFor="#post of tournaments">
            <div class="row">
              <div class="col-md-3">
                <img [src]="post.image" alt="">
              </div>
              <div class="col-md-9">
                <h4><a>{{post.name}}</a></h4>
                <p class="text-primary">{{post.startReg | amDateFormat:'DD-MM-YYYY'}} - {{post.endReg | amDateFormat:'DD-MM-YYYY'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
