.nav-menu {
  min-height: 52px;
  // background: rgba(39, 39, 39, 0.82);
  // background: linear-gradient(to bottom, #000000 0%, #343434 100%);
  .xmenu {
    position: relative;
  }
  ul {
    margin: 0;
    padding: 10px 0 0;
    font-size: 16px;
    background: rgba(0,0,0,0.8);
    height: 52px;
    li {
      display: inline-block;
      float: left;
      margin-left: 5px;
      outline: none;
      display: block;
      line-height: 32px;
      color: #777;
      border-radius: 3px;
      a {
        padding: 5px 20px;
        color: #fff;
        &:hover {
          text-decoration: none;
          background: #FE6000;
          cursor: pointer;
        }
        &.active {
          background: #FE6000;
        }
      }
    }
  }
  .search {
    background: transparent;
    float: right;
    input {
      background: rgba(255, 255, 255, 0.1);
      color: #cccccc;
      padding: 5px 10px;
      outline: none;
      border: none;
    }
    button {
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      width: 34px;
      height: 30px;
      font-size: 13px;
      font-weight: normal;
      border: none;
      height: 35px;
      float: right;
    }
  }
}
.panel-xu {
  position: absolute;
  top: 0;
  height: 52px;
  right: 0;
  border: none;
  border-radius: 0;
  vertical-align: middle;
  display: block;
  line-height: 25px;
  margin-right: 15px;
  background: #FF6100;
  font-size: 16px;
  strong {
    font-size: 20px;
  }
}
