<div class="nav-menu">
  <div class="container xmenu">
    <ul class="list-inline">
      <li><a router-active="active" [routerLink]="['Home']">Trang chủ</a></li>
      <li *ngIf="userData && (userData.type === 'CPM' || userData.type === 'CTV' || userData.type === 'admin')" router-active="active" [routerLink]="['Tournament']"><a>Giải đấu</a></li>
      <li *ngIf="userData && (userData.type === 'CPM' || userData.type === 'member' || userData.type === 'HV' || userData.type === 'CTV' || userData.type === 'admin')" router-active="active" [routerLink]="['Challenge']"><a>Mini Game</a></li>
      <li *ngIf="userData && (userData.type === 'CPM' || userData.type === 'member' || userData.type === 'HV' || userData.type === 'CTV' || userData.type === 'admin')" router-active="active" [routerLink]="['Gift']"><a>Đổi quà</a></li>
      <li *ngIf="userData && (userData.type === 'CPM' || userData.type === 'CTV' || userData.type === 'admin')" router-active="active"><a>Nhận Code</a></li>
      <!-- <li *ngIf="userData && (userData.type === 'HV' || userData.type === 'member' || userData.type === 'admin')" router-active="active" [routerLink]="['VLTD']"><a>JX Tình Duyên</a></li> -->
    </ul>
    <div class="search hidden-md-down hidden-md-down">
      <!-- <form id="searchForm" action="" method="get">
        <input type="text" name="s" id="s" value="" placeholder="Tìm kiếm" hidefocus="true">
        <button type="submit" id="searchSubmit" class="button-search"><i class="fa fa-search"></i></button>
      </form> -->
      <div class="alert alert-warning text-sm-center panel-xu" *ngIf="userData">
        Xu hiện có: <strong>{{userData.credit}}</strong>
      </div>
    </div>
  </div>
</div>
