<div class="bg-tournament" *ngIf="tournament" [ngClass]="
    {
      bgLol: tournament.game === 'lol',
      bgFifa: tournament.game === 'fifa'
    }
  ">
  <div *ngIf="!tournament" class="loading"><i class="fa fa-5x fa-circle-o-notch fa-spin"></i></div>
  <div class="container">
    <div class="title">
      <h3>{{tournament.name}}</h3>
    </div>
  </div>

  <div class="container">
    <div class="content-tournament">
      <div class="description">
        <img [src]="tournament.image" width="100%"/>
      </div>
    </div>
    <div class="col-md-12 content-tournament">
      <div class="row item">
        <div class="col-md-3">
          <h5>Thời gian đăng ký</h5>
          <span>{{tournament.startReg | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</span>
          <span>{{tournament.endReg | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</span>
        </div>
        <div class="col-md-6 text-sm-center">
          <a class="btn btn-fill btn-block btn-primary reg" data-toggle="modal" data-target="#joinTournament" *ngIf="tournament.startRegTs < currentTime && currentTime < tournament.endRegTs"> ĐĂNG KÝ GIẢI ĐẤU</a>
          <a class="btn btn-fill btn-block btn-primary disabled reg" *ngIf="tournament.endRegTs < currentTime"> ĐÃ HẾT THỜI GIAN ĐĂNG KÝ </a>
          <a class="btn btn-block btn-default reg" *ngIf="currentTime < tournament.startRegTs && currentTime < tournament.endRegTs"> CHƯA ĐẾN THỜI GIAN ĐĂNG KÝ</a>
        </div>
        <div class="col-md-3 text-sm-right">
          <h5>Thời gian trận đấu</h5>
          <span>{{tournament.startRun | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</span>
          <span>{{tournament.endRun | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</span>
        </div>
      </div>
    </div>

    <div class="col-md-12 content-tournament">
      <div class="row item">
        <div class="col-md-6 text-sm-center">
          <h5>Phí đăng ký</h5>
          <span>{{tournament.credit}} xu/lần</span>
        </div>
        <div class="col-md-6 text-sm-center">
          <h5>Miễn phí đăng ký lần đầu</h5>
          <strong *ngIf="tournament.freeFirstTime === true">Có</strong>
          <strong *ngIf="tournament.freeFirstTime === false">Không</strong>
        </div>
      </div>
    </div>

    <div class="col-md-12 content-tournament">
      <div class="row item">
        <div class="col-md-12 text-sm-center">
          <h5>Danh sách tham gia</h5>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Tên đội</th>
                <th>Quản lý</th>
                <th width="150px">Ngày đăng ký</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="#player of tournament.players; #i = index">
                <td>{{i + 1}}</td>
                <td>{{player.name}}</td>
                <td>{{player.ownerId.name}}</td>
                <td>{{player.ctime | amDateFormat:'DD-MM-YYYY (HH:mm)'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="content-tournament">
      <div class="description">
        <div [innerHtml]="tournament.description"></div>
      </div>
    </div>
  </div>

</div>

<div>
  <div class="modal fade" id="joinTournament" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">Đăng ký Giải đấu</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" *ngIf="tournament">
            Phí Tham gia giải đấu này là: <strong>{{tournament.credit}} xu/lần</strong>
          </div>
          <form [ngFormModel]="registerForm" (submit)="doRegister()">
            <div class="form-group">
              <label for="name">Tên đội</label>
              <input type="text" class="form-control" ngControl="name" #name="ngForm">
            </div>
            <div class="form-group">
              <label for="username">Số điện thoại đội trưởng</label>
              <input type="text" class="form-control" ngControl="phone" #phone="ngForm">
            </div>
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-fill btn-block">Đăng ký</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
