.bgLol {
  background: url('assets/img/game/lol.jpg');
}
.bgFifa {
  background: url('assets/img/game/fifa.jpg');
}
.bg-tournament {
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 83vh;
  width: 100vw;
  /* height: 100vh; */
  background-size: cover;
  .title {
    background: rgba(0,0,0,0.8);
    padding: 10px;
    font-size: 15px;
    /* margin: 10px 0; */
    text-align: center;
    h3 {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}
.content-tournament {
  margin-top: 30px;
  .item {
    color: #fff;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    span {
      margin: 10px 0;
      display: block;
    }
    h5 {
      font-weight: 700;
      font-size: 20px;
    }
    .reg {
      margin-top: 5%;
    }
  }
  .description {
    // height: 400px;
    width: 100%;
    // overflow-y: auto;
    padding: 20px;
    color: #fff;
    background: rgba(0,0,0,0.8);
  }
  &:last-child {
    margin-bottom: 50px;
  }
}
.table thead th {
  text-align: center;
}
